Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Adding EndpointSlice config
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Fixing zwave-js metrics
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

Fixed intel-gpu-exporter metrics
  kubernetes/apps/kube-system/intel-device-plugins/exporter/helmrelease.yaml
Labels: area/kubernetes

Rook-ceph externalMgr fixes
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Adding EndpointSlice config (#3001)
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Added Grafana dashboard
  kubernetes/apps/rook-ceph-external/rook-ceph/app/grafanadashboard.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/app/kustomization.yaml
Labels: area/kubernetes

Final rook-ceph clean-up
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Atuin metrics port should also be IPv6
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

Fixed atuin start-up args
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

These should be the last fixed haproxy endpoints
  kubernetes/apps/rook-ceph-external/rook-ceph/README.org
  kubernetes/components/dragonfly/cluster.yaml
  terraform/rgw-buckets/variables.tf
Labels: area/kubernetes, area/terraform

Updated dragonfly to 1.37.0
  kubernetes/components/dragonfly/cluster.yaml
Labels: area/kubernetes

Manually updating tofu-controller version
  kubernetes/apps/flux-system/tofu-controller/app/helmrelease.yaml
Labels: area/kubernetes

Changed endpoint to external for Terraforms
  kubernetes/apps/flux-system/tofu-controller/terraform/proxmox-tls.yaml
  kubernetes/apps/flux-system/tofu-controller/terraform/rgw-buckets.yaml
  terraform/rgw-buckets/variables.tf
Labels: area/kubernetes, area/terraform

Added a transmission finish script
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/media/transmission/music/kustomization.yaml
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Retrying probes on 4.1.1
  kubernetes/apps/media/transmission/jeopardy/helmrelease.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Added a secret to transmission-music
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/media/transmission/music/kustomization.yaml
Labels: area/kubernetes

Tweaks to transmission-complete script
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Testing chowning files before import
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Redoing permissions for /emc1/music
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Redoing permissions on qbittorrent
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

RIP UHD
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

Tweaked autoMerge
  .renovate/autoMerge.json5
Labels: area/renovate

Permission change for cross-seed-jeopardy
  kubernetes/apps/media/cross-seed-jeopardy/app/helmrelease.yaml
Labels: area/kubernetes

Updated varroa permissions
  kubernetes/apps/media/varroa/app/helmrelease.yaml
Labels: area/kubernetes

Initial Lidarr commit
  kubernetes/apps/media/lidarr/app/externalsecret.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/kustomization.yaml
  kubernetes/apps/media/lidarr/app/pvc.yaml
  kubernetes/apps/media/lidarr/ks.yaml
Labels: area/kubernetes

Forgot to add to kustomization
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Always forget the indent
  kubernetes/apps/media/lidarr/ks.yaml
Labels: area/kubernetes

What if I set PG_VERSION to 18?
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/components/postgres/cluster.yaml
Labels: area/kubernetes

Adding Lidarr (#3078)
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/app/externalsecret.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/kustomization.yaml
  kubernetes/apps/media/lidarr/app/pvc.yaml
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/components/postgres/cluster.yaml
Labels: area/kubernetes

Fixed formatting
  kubernetes/apps/media/lidarr/ks.yaml
Labels: area/kubernetes

Lidarr clean-up
  kubernetes/apps/media/lidarr/ks.yaml
Labels: area/kubernetes

Will readOnly NFS work like this?
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Will readOnly NFS work like this?"
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

Removing readOnly temporarily
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

Fixing transmission permissions
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Adding logic to script to handle Orpheus
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Adding wrtag
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/media/wrtag/app/externalsecret.yaml
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
  kubernetes/apps/media/wrtag/app/kustomization.yaml
  kubernetes/apps/media/wrtag/ks.yaml
Labels: area/kubernetes

Let's see if Flux/Helm freak out less about this go template
  kubernetes/apps/media/wrtag/app/configmap.yaml
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
  kubernetes/apps/media/wrtag/app/kustomization.yaml
Labels: area/kubernetes

Fixed container image
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
Labels: area/kubernetes

Adding wrtag (#3082)
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/media/wrtag/app/configmap.yaml
  kubernetes/apps/media/wrtag/app/externalsecret.yaml
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
  kubernetes/apps/media/wrtag/app/kustomization.yaml
  kubernetes/apps/media/wrtag/ks.yaml
Labels: area/kubernetes
