Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, cluster/talos-maxi, cluster/network

Added toleration for fstrim to run on special node
  kubernetes/talos-maxi/apps/kube-system/fstrim/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing to flux-operator in network cluster
  kubernetes/network/apps/flux-system/addons/app/kustomization.yaml
  kubernetes/network/apps/flux-system/addons/app/monitoring/kustomization.yaml
  kubernetes/network/apps/flux-system/addons/app/monitoring/prometheusrule.yaml
  kubernetes/network/apps/flux-system/addons/app/webhooks/kustomization.yaml
  kubernetes/network/apps/flux-system/addons/ks.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/helm-values.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/notifications/externalsecret.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/notifications/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/notifications/notification.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/webhooks/ingress.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/webhooks/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/webhooks/secret.sops.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/kustomizeconfig.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/podmonitor.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/network/apps/flux-system/flux-operator/ks.yaml
  kubernetes/network/apps/flux-system/kustomization.yaml
  kubernetes/network/bootstrap/talos/apps/helmfile.yaml
  kubernetes/network/flux/apps.yaml
  kubernetes/network/flux/config/cluster.yaml
  kubernetes/network/flux/config/flux.yaml
  kubernetes/network/flux/config/kustomization.yaml
  kubernetes/network/flux/repositories/git/kustomization.yaml
  kubernetes/network/flux/repositories/helm/kustomization.yaml
  kubernetes/network/flux/repositories/kustomization.yaml
  kubernetes/network/flux/repositories/oci/kustomization.yaml
  kubernetes/network/flux/settings/cluster-settings.yaml
  kubernetes/network/flux/settings/ks-substitution.yaml
  kubernetes/network/flux/settings/kustomization.yaml
  kubernetes/shared/repos/helm/controlplaneio.yaml
  kubernetes/shared/repos/helm/fluxcd-community.yaml
  kubernetes/shared/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/network

Changed GitRepository name to flux-system in network cluster
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network/apps/default/idrac-fan-control/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
  kubernetes/network/apps/kube-system/coredns/ks.yaml
  kubernetes/network/apps/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/network/apps/kube-system/metrics-server/ks.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/network/apps/kube-system/reloader/ks.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/apps/network/echo-server/ks.yaml
  kubernetes/network/apps/network/external-dns/ks.yaml
  kubernetes/network/apps/network/k8s-gateway/ks.yaml
  kubernetes/network/apps/network/nginx/ks.yaml
  kubernetes/network/apps/openebs-system/openebs/ks.yaml
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/network/flux/config/cluster.yaml
Labels: area/kubernetes, cluster/network

Changed to HTTPS repo
  kubernetes/network/apps/flux-system/flux-operator/instance/helm-values.yaml
Labels: area/kubernetes, cluster/network

Revert "On my way to switch to flux-operator"
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network/apps/default/idrac-fan-control/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/kube-system/metrics-server/ks.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/network/apps/kube-system/reloader/ks.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/apps/network/echo-server/ks.yaml
  kubernetes/network/apps/network/external-dns/ks.yaml
  kubernetes/network/apps/network/k8s-gateway/ks.yaml
  kubernetes/network/apps/network/nginx/ks.yaml
  kubernetes/network/apps/openebs-system/openebs/ks.yaml
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/network

Forgot this kustomization
  kubernetes/network/apps/flux-system/flux-operator/instance/github/kustomization.yaml
Labels: area/kubernetes, cluster/network

Trying to do cilium BGP config without sops
  kubernetes/network/apps/kube-system/cilium/config/bgpclusterconfig.sops.yaml
  kubernetes/network/apps/kube-system/cilium/config/bgpclusterconfig.yaml
  kubernetes/network/apps/kube-system/cilium/config/externalsecret.yaml
  kubernetes/network/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
Labels: area/kubernetes, cluster/network

Changing to plain-text domain
  kubernetes/network/apps/flux-system/flux-operator/instance/github/webhooks/ingress.yaml
  kubernetes/network/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/network/apps/network/cloudflared/app/dnsendpoint.yaml
  kubernetes/network/apps/network/cloudflared/app/externalsecret.yaml
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
  kubernetes/network/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/network/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/network/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/network/apps/network/external-dns/opnsense-unbound/helmrelease.yaml
  kubernetes/network/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/network/apps/network/nginx/certificates/production.yaml
  kubernetes/network/apps/network/nginx/certificates/staging.yaml
  kubernetes/network/apps/network/nginx/external/helmrelease.yaml
  kubernetes/network/apps/network/nginx/internal/services/home-assistant.yaml
  kubernetes/network/apps/network/nginx/internal/services/opnsense.yaml
  kubernetes/network/apps/network/nginx/internal/services/proxmox.yaml
Labels: area/kubernetes, cluster/network

Fixing certs
  kubernetes/network/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/network/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/network/apps/network/nginx/certificates/kustomization.yaml
  kubernetes/network/apps/network/nginx/certificates/production.yaml
  kubernetes/network/apps/network/nginx/external/helmrelease.yaml
  kubernetes/network/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Fixed domain name for external-dns
  kubernetes/network/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Removed sops secrets from external-secrets
  kubernetes/network/apps/external-secrets/external-secrets/akeyless/kustomization.yaml
  kubernetes/network/apps/external-secrets/external-secrets/akeyless/secret.sops.yaml
Labels: area/kubernetes, cluster/network

Fixed secret name for cloudflared
  kubernetes/network/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Fixed secret for cert-manager
  kubernetes/network/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/network/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/network/apps/cert-manager/cert-manager/issuers/kustomization.yaml
Labels: area/kubernetes, cluster/network

Removing unused sops
  kubernetes/network/apps/cert-manager/cert-manager/issuers/secret.sops.yaml
  kubernetes/network/apps/network/cloudflared/app/secret.sops.yaml
Labels: area/kubernetes, cluster/network

Changing vars for LB
  kubernetes/network/apps/kube-system/cilium/config/loadbalancerippool.yaml
Labels: area/kubernetes, cluster/network

Setup PushSecret for network cluster
  kubernetes/network/apps/network/nginx/certificates/kustomization.yaml
  kubernetes/network/apps/network/nginx/certificates/pushsecret.yaml
Labels: area/kubernetes, cluster/network

Testing adding a secret to flux-system
  kubernetes/network/apps/kube-system/cilium/config/externalsecret.yaml
Labels: area/kubernetes, cluster/network

Secret clean-up
  kubernetes/network/apps/kube-system/cilium/config/externalsecret.yaml
  kubernetes/network/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes, cluster/network

Tweaked bootstrap setup
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/network/bootstrap/talos/apps/helmfile.yaml
  kubernetes/network/bootstrap/talos/apps/templates/cilium.yaml.j2
  kubernetes/network/bootstrap/talos/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile, cluster/network

Added dependecy for certificates
  kubernetes/network/apps/network/nginx/ks.yaml
Labels: area/kubernetes, cluster/network

Re-added kustomization for repos
  kubernetes/talos-maxi/flux/repos/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixing bgpclusterconfig for talos-maxi
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/bgpclusterconfig.sops.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes, area/taskfile, cluster/talos-maxi

Removed LB IP from postgres clusters
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/postgrescluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixed nginx setup
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/talos-maxi/apps/network/nginx/external/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/talos-maxi/bootstrap/talos/apps/templates/cilium.yaml.j2
Labels: area/kubernetes, area/taskfile, cluster/talos-maxi

Fixed gatus templates
  kubernetes/shared/templates/gatus/external/configmap.yaml
  kubernetes/shared/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes

Fixing LB addresses
  kubernetes/talos-maxi/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/transmission/jeopardy/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/transmission/music/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/varroa/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding postbuild substitution of IPv6 addresses
  kubernetes/talos-maxi/apps/kube-system/coredns/ks.yaml
  kubernetes/talos-maxi/apps/network/nginx/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added R2_ENDPOINT secret
  kubernetes/network/apps/flux-system/flux-operator/instance/externalsecret.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/postgrescluster.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Added R2_ENDPOINT secret (to the right cluster this time)
  kubernetes/network/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/network/apps/kube-system/cilium/config/bgpclusterconfig.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/externalsecret.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Added csi-driver-nfs
  kubernetes/shared/repos/helm/csi-driver-nfs.yaml
  kubernetes/shared/repos/helm/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/talos-maxi/apps/kube-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding mutated volsync config
  kubernetes/shared/templates/volsync/claim.yaml
  kubernetes/shared/templates/volsync/minio.yaml
  kubernetes/shared/templates/volsync/nfs.yaml
  kubernetes/shared/templates/volsync/r2.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/kustomization.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/mutations/kustomization.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/mutations/volsync-mover-jitter.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/mutations/volsync-mover-nfs.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixed typo
  kubernetes/shared/templates/volsync/nfs.yaml
  kubernetes/talos-maxi/flux/settings/cluster-settings.yaml
Labels: area/kubernetes, cluster/talos-maxi

Enabling NFS backup on vector cluster
  kubernetes/shared/templates/volsync/minio.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/externalsecret.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/kustomization.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/pvc.yaml
Labels: area/kubernetes, cluster/talos-maxi

SOPS is back on
  .taskfiles/Talos/Taskfile.yaml
  kubernetes/talos-maxi/apps/default/authelia/ks.yaml
  kubernetes/talos-maxi/apps/media/qbittorrent/ks.yaml
  kubernetes/talos-maxi/bootstrap/talos/apps/templates/resources.yaml.j2
Labels: area/kubernetes, area/taskfile, cluster/talos-maxi

Fixed typo in cephfs secrets
  kubernetes/talos-maxi/apps/rook-ceph-external/rook-ceph/cluster/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Amended flux-diff after latest changes
  .github/workflows/flux-diff.yaml
Labels: area/github

Amended pre-pull-images action
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Fixing TIMEZONE
  kubernetes/talos-maxi/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/lubelog/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/paperless/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/tandoor/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/games/minecraft/create/helmrelease.yaml
  kubernetes/talos-maxi/apps/games/minecraft/vanilla/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/cross-seed-jeopardy/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/dashbrr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/pinchflat/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/plex-addons/kometa/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/radarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/readarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/exporters/mqtt-exporter/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Another fix to pre-pull
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Revert "Merge pull request #1121 from frantathefranta/renovate/maxi-pgo-5.x"
  kubernetes/talos-maxi/apps/database/crunchy-postgres/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
# Cluster
cluster/talos-maxi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos-maxi/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: kubernetes/network/**/*
