Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

Improved beets backup
  kubernetes/apps/media/beets/backup/helmrelease.yaml
Labels: area/kubernetes

Fixed renovate search
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Fixed renovate search
  renovate.json5
Labels: none

Fixed renovate search
  renovate.json5
Labels: none

Fixed typo
  kubernetes/apps/default/netbox/app/imagerepository.yaml
Labels: area/kubernetes

Re-enabling netbox-kea
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

One more renovate fix
  renovate.json5
Labels: none

Trying different setting for netbox
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Adding S3 to dragonfly cluster component
  kubernetes/apps/default/vikunja/app/helmrelease.yaml
  kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/components/dragonfly/cluster.yaml
  kubernetes/components/dragonfly/externalsecret.yaml
  kubernetes/components/dragonfly/kustomization.yaml
Labels: area/kubernetes

Migrating the rest of apps to their own Dragonfly clusters
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
  kubernetes/apps/default/bar-assistant/ks.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/vikunja/ks.yaml
Labels: area/kubernetes

Moving restic volume backups to Rados GW
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/components/volsync/local/externalsecret.yaml
  kubernetes/components/volsync/local/replicationdestination.yaml
Labels: area/kubernetes

Mutation clean-up
  kubernetes/apps/storage/volsync/app/kustomization.yaml
  kubernetes/apps/storage/volsync/app/mutations/kustomization.yaml
  kubernetes/apps/storage/volsync/app/mutations/volsync-mover-jitter.yaml
  kubernetes/apps/storage/volsync/app/mutations/volsync-mover-nfs.yaml
Labels: area/kubernetes

Dragonfly clean-up
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/cluster/externalsecret.yaml
  kubernetes/apps/database/dragonfly/cluster/gatus.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/database/dragonfly/cluster/podmonitor.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/kubernetes

Added cable labels
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Wondering it this does anything to fix renovate
  .renovate/groups.json5
  kubernetes/apps/default/netbox/app/helmrelease.yaml
  renovate.json5
Labels: area/kubernetes, area/renovate

Adding a replica to Dragonfly operator
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
Labels: area/kubernetes

Enabling netbox metrics
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

netbox tweaks
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Changing scrypted-fast storage (again)
  kubernetes/apps/home-automation/scrypted/app/pvc.yaml
Labels: area/kubernetes

Removing netbox-bgp
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Added tag for meilisearch
  kubernetes/apps/default/bar-assistant/meilisearch/helmrelease.yaml
Labels: area/kubernetes

Tweaking renovate config for autoMergin
  .gitignore
  .renovate/autoMerge.json5
Labels: area/renovate

Removed external-dns-internal
  kubernetes/apps/network/external-dns/internal/externalsecret.yaml
  kubernetes/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/apps/network/external-dns/internal/kustomization.yaml
  kubernetes/apps/network/external-dns/ks.yaml
Labels: area/kubernetes

Decommissioned brocade01
  kubernetes/apps/observability/exporters/snmp-exporter/brocade/helmrelease.yaml
Labels: area/kubernetes

Manually updated renovate github action because it seems stuck
  .github/workflows/renovate.yaml
Labels: area/github

Move immich to archive
  .archive/app/configmap.yaml
  .archive/app/externalsecret.yaml
  .archive/app/kustomization.yaml
  .archive/app/machine-learning/helmrelease.yaml
  .archive/app/machine-learning/kustomization.yaml
  .archive/app/microservices/helmrelease.yaml
  .archive/app/microservices/kustomization.yaml
  .archive/app/server/helmrelease.yaml
  .archive/app/server/kustomization.yaml
  .archive/ks.yaml
  renovate.json5
Labels: none

Fixing renovate
  .github/workflows/renovate.yaml.disable
  renovate.json5
Labels: area/github

Fixing renovate
  renovate.json5
Labels: none

Fixing renovate
  .github/workflows/renovate.yaml
Labels: area/github

Marked TODO as done
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Tweaking image-pull action
  .github/workflows/image-pull.yaml
Labels: area/github

Tweaking flux-local action
  .github/workflows/flux-local.yaml
Labels: area/github

Action clean-up
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/release.yaml
Labels: area/github

Try longer scrapeTimeout for Brocade switches
  kubernetes/apps/observability/exporters/snmp-exporter/brocade/helmrelease.yaml
Labels: area/kubernetes

Removing syncthing serviceMonitor
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  mise.toml
Labels: area/kubernetes

Fixing syncthing route
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

Added TODO for qbtool
  kubernetes/apps/media/qbittorrent/tools/helmrelease.yaml
Labels: area/kubernetes

Fixed cilium upgrade issue
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Merge pull request #2134 from frantathefranta/renovate/cilium-1.x"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

Tweaked Taskfile for Volsync
  .taskfiles/VolSync/Taskfile.yaml
  .taskfiles/VolSync/resources/unlock.yaml.j2
  Taskfile.yaml
Labels: area/taskfile

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
