Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

Fixing github app cert
  kubernetes/apps/flux-system/flux-operator/instance/externalsecret.yaml
Labels: area/kubernetes

Revert "Fixing github app cert"
  kubernetes/apps/flux-system/flux-operator/instance/externalsecret.yaml
Labels: area/kubernetes

Revert "Fixing github app cert"
  kubernetes/apps/flux-system/flux-operator/instance/externalsecret.yaml
  kubernetes/apps/flux-system/flux-operator/instance/kustomization.yaml
Labels: area/kubernetes

Bootstrap fixes
  bootstrap/templates/resources.yaml.j2
  mise.toml
Labels: area/bootstrap

Bootstrap fixes
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

Seeing if this fixes the certificate
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
Labels: area/kubernetes, area/taskfile

Seeing if this fixes intracluster Talos API timeouts
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/kubernetes

Update API for loadbalancerIPPool
  kubernetes/apps/kube-system/cilium/config/loadbalancerippool.yaml
Labels: area/kubernetes

Changed talosImageURL
  talos/talconfig.yaml
Labels: area/talos

Varroa updates
  kubernetes/apps/media/varroa/app/externalsecret.yaml
Labels: area/kubernetes

Github action tweaks
  .github/workflows/bulk-merge-prs.yaml
  .github/workflows/labeler.yaml
  .github/workflows/terraform-diff.yaml
  .github/workflows/terraform-publish.yaml
Labels: area/github

Setting up aggregation for Cillium
  kubernetes/apps/kube-system/cilium/config/bgpadvertisement.yaml
Labels: area/kubernetes

Trying to figure out why sonarr doesn't allow autobrr pushes
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Trying tandoor again with version 2.2.0
  kubernetes/apps/default/tandoor-test/app/helmrelease.yaml
Labels: area/kubernetes

Updating main tandoor to 2.2.1
  kubernetes/apps/default/tandoor/app/config/nginx-config
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
  kubernetes/apps/default/tandoor/app/kustomization.yaml
Labels: area/kubernetes

Post-tandoor-upgrade clean-up
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tandoor-test/app/externalsecret.yaml
  kubernetes/apps/default/tandoor-test/app/helmrelease.yaml
  kubernetes/apps/default/tandoor-test/app/kustomization.yaml
  kubernetes/apps/default/tandoor-test/ks.yaml
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

Added passkey support for miniflux
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

Re-enabling Ceph monitoring
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Re-enabling snapshoting for volsync
  kubernetes/components/volsync/local/replicationsource.yaml
  kubernetes/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes

Added atuin
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Making atuin listen on IPv6 as well
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

Moving music assistant back to small node
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Added cache tmpDir for music assistant
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Tweaking multus-iot network
  kubernetes/apps/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes

Changing music assistant base url
  .taskfiles/VolSync/Taskfile.yaml
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes, area/taskfile

Fixed volsync restore
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  mise.toml
Labels: area/taskfile

Removed unnecessary ENV
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Trying to see if this enables Ceph monitoring again
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Trying to see if this enables Ceph monitoring again
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Setting autobrr to DualStack
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Updated to image.toolkit.fluxcd.io/v1 API
  kubernetes/apps/default/hugo/ks.yaml
  kubernetes/apps/default/netbox/app/imagerepository.yaml
Labels: area/kubernetes

Moved NFD to OCI repo
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes

Testing scraping FRR exporter
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Removed kubefetch from mise.toml
  mise.toml
Labels: none

Removed csi-driver-nfs
  kubernetes/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/csi-driver-nfs.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/home-operations/k8s-sidecar ( 1.30.10 → 1.30.11 )"
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/frantathefranta/beets-custom ( 2.3.1 → 2.4.0 )"
  kubernetes/apps/media/beets/app/helmrelease.yaml
Labels: area/kubernetes

Trying using localhost for Arista scraping
  kubernetes/apps/observability/exporters/snmp-exporter/arista/helmrelease.yaml
Labels: area/kubernetes

Apparently it takes longer now to scrape
  kubernetes/apps/observability/exporters/snmp-exporter/arista/helmrelease.yaml
  kubernetes/apps/observability/exporters/snmp-exporter/idrac/helmrelease.yaml
Labels: area/kubernetes

Pinned iDRAC fan control (again)
  kubernetes/apps/default/idrac-fan-control/actinium/helmrelease.yaml
  kubernetes/apps/default/idrac-fan-control/protactinium/helmrelease.yaml
  kubernetes/apps/default/idrac-fan-control/thorium/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
