Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Prepare Multus CRD for safe handoff (#3981)
  kubernetes/apps/network/multus/app/crds.yaml
Labels: area/kubernetes

Remove standalone Multus CRD Kustomization
  kubernetes/apps/network/multus/app/crds.yaml
  kubernetes/apps/network/multus/app/kustomization.yaml
Labels: area/kubernetes

Remove standalone Multus CRD Kustomization (#3982)
  kubernetes/apps/network/multus/app/crds.yaml
  kubernetes/apps/network/multus/app/kustomization.yaml
Labels: area/kubernetes

Added "devices" for cilium
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/kubernetes

Removed DHCPv4 config on talos-n150-01
  talos/nodes/workers/talos-n150-01.yaml.j2
Labels: area/talos

Organize talos extensions alphabetically
  talos/README.md
  talos/schematic.yaml.j2
Labels: area/talos

fix(flux): keep CI CLI and cluster versions in lockstep
  .github/workflows/terraform-publish.yaml
  .renovate/groups.json5
Labels: area/github, area/renovate

fix(flux): keep CI CLI and cluster versions in lockstep
  .github/workflows/terraform-publish.yaml
  .renovate/groups.json5
Labels: area/github, area/renovate

Fixing forgejo/authelia issue
  .github/workflows/terraform-publish.yaml
  .renovate/groups.json5
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
Labels: area/github, area/kubernetes, area/renovate

fix(flux): configure trusted identities for chart verification
  kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrepository.yaml
Labels: area/kubernetes
