Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

Revert "Re-enable Loki"
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

Deploying victoria logs
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/app/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/app/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs/collector/helmrelease.yaml
  kubernetes/apps/observability/victoria-logs/collector/kustomization.yaml
  kubernetes/apps/observability/victoria-logs/collector/ocirepository.yaml
  kubernetes/apps/observability/victoria-logs/ks.yaml
Labels: area/kubernetes

Added new endpoints to node-exporter
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Enable internal forgejo signin
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Enable internal forgejo signin"
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes

Deploying external gateway
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/gateway/https-redirect.yaml
  kubernetes/apps/network/envoy-gateway/gateway/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/gateway/resources/block-user-agents.lua
Labels: area/kubernetes

Move forgejo to envoy-external
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes

Let's see if this fixes renovate calls
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
Labels: area/kubernetes

Added note for escapedSlashesAction
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
Labels: area/kubernetes

Added grafanaDashboard for envoy
  kubernetes/apps/network/envoy-gateway/gateway/grafanadashboard.yaml
  kubernetes/apps/network/envoy-gateway/gateway/kustomization.yaml
Labels: area/kubernetes

Fix cert-manager dashboard
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
Labels: area/kubernetes

Updated nginx-unprivileged image
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Updated nginx-unprivileged image
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Removing k8s-gateway as it's no longer necessary
  .archive/k8s-gateway/app/config/Corefile
  .archive/k8s-gateway/app/helmrelease.yaml
  .archive/k8s-gateway/app/kustomization.yaml
  .archive/k8s-gateway/app/networkpolicy.yaml
  .archive/k8s-gateway/app/rbac.yaml
  .archive/k8s-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

Allow scrypted to run on g3-mini
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update chart cilium ( 1.19.4 → 1.19.5 ) (#3455)"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

Revert "fix(helm): update chart cilium ( 1.19.4 → 1.19.5 ) (#3501)"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

Revert "fix(helm): update chart cilium ( 1.19.4 → 1.19.5 ) (#3507)"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

Revert "Allow scrypted to run on g3-mini"
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(helm): update chart cilium ( 1.19.4 → 1.19.5 ) (#3511)"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

Reapply "fix(helm): update chart cilium ( 1.19.4 → 1.19.5 ) (#3511)"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

Fixed scrapeconfig for BIRD
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
  talos/mod.just
Labels: area/kubernetes, area/talos

Added 2 more hosts to BGP scrape
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Added wireguard exporter scrape config
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Added DN42 dashboard
  kubernetes/apps/observability/grafana/dashboards/configmaps/dn42.json
  kubernetes/apps/observability/grafana/dashboards/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/dashboards/kustomization.yaml
Labels: area/kubernetes

Filtered metrics in dashboard
  kubernetes/apps/observability/grafana/dashboards/configmaps/dn42.json
Labels: area/kubernetes

Added field in table
  kubernetes/apps/observability/grafana/dashboards/configmaps/dn42.json
Labels: area/kubernetes

WIll coredns svc be happy now
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes

Revert "WIll coredns svc be happy now"
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes

Re-deploy paperless
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Removed autobrr dashboard
  kubernetes/apps/media/autobrr/app/kustomization.yaml
Labels: area/kubernetes

Update to the dn42 dashboard
  kubernetes/apps/observability/grafana/dashboards/configmaps/dn42.json
Labels: area/kubernetes

Added forgejo runner
  kubernetes/apps/default/forgejo/ks.yaml
  kubernetes/apps/default/forgejo/runner/externalsecret.yaml
  kubernetes/apps/default/forgejo/runner/helmrelease.yaml
  kubernetes/apps/default/forgejo/runner/kustomization.yaml
  kubernetes/apps/default/forgejo/runner/ocirepository.yaml
Labels: area/kubernetes

Open registration for atuin
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Open registration for atuin"
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

Misc tweaks
  shell.nix
  talos/talconfig.yaml
Labels: area/talos

Revert "feat(container): update image ghcr.io/dragonflydb/dragonfly ( v1.39.0 → v1.40.0 ) (#3683)"
  kubernetes/components/dragonfly/cluster.yaml
Labels: area/kubernetes

Reapply "feat(container): update image ghcr.io/dragonflydb/dragonfly ( v1.39.0 → v1.40.0 ) (#3683)"
  kubernetes/components/dragonfly/cluster.yaml
Labels: area/kubernetes

Deploying anubis for forgejo
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/apps/default/forgejo/app/httproute.yaml
  kubernetes/apps/default/forgejo/app/kustomization.yaml
  kubernetes/apps/default/forgejo/ks.yaml
  kubernetes/components/anubis/externalsecret.yaml
  kubernetes/components/anubis/helmrelease.yaml
  kubernetes/components/anubis/kustomization.yaml
  kubernetes/components/anubis/ocirepository.yaml
Labels: area/kubernetes

Added Anubis dashboard
  kubernetes/apps/observability/grafana/dashboards/configmaps/anubis.json
  kubernetes/apps/observability/grafana/dashboards/grafanadashboard.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
