Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, cluster/talos-maxi, cluster/network

Tweaks to backups for crunchy-vector
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added NFS backup to main PG cluster
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/externalsecret.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/postgrescluster.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/pvc.yaml
Labels: area/kubernetes, cluster/talos-maxi

Doubled vector PG size
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Increasing timeout for backups on crunchy-vector
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Re-adding archive-push-queue-max to PG vector
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Increasing timeout for backups on crunchy-vector"
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed to my image of dell_idrac_fan_controller
  kubernetes/network/apps/default/idrac-fan-control/actinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/protactinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/thorium/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Revert "Changed to my image of dell_idrac_fan_controller"
  kubernetes/network/apps/default/idrac-fan-control/actinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/protactinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/thorium/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Reapply "Changed to my image of dell_idrac_fan_controller"
  kubernetes/network/apps/default/idrac-fan-control/actinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/protactinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/thorium/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Revert "Reapply "Changed to my image of dell_idrac_fan_controller""
  kubernetes/network/apps/default/idrac-fan-control/actinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/protactinium/helmrelease.yaml
  kubernetes/network/apps/default/idrac-fan-control/thorium/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Scaling down resources for Immich
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
  kubernetes/talos-maxi/apps/default/immich/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Re-installing postgres-vector
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Reducing refreshinterval for immich secret
  kubernetes/talos-maxi/apps/default/immich/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixing URL for checking PG vector with gatus
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/gatus.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed the addres for Arista SNMP exporter
  kubernetes/talos-maxi/apps/observability/exporters/snmp-exporter/arista/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing opnsense BIND for now
  kubernetes/talos-maxi/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added replicas to CoreDNS
  kubernetes/network/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes, cluster/network

Tweaked liveness/readiness probes for CoreDNS
  kubernetes/network/apps/kube-system/coredns/app/helm-values.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Adding a kube-api svc to Cilium (BGP-advertised)
  kubernetes/network/apps/kube-system/cilium/config/kube-api.yaml
  kubernetes/network/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/network/bootstrap/talos/apps/templates/cilium.yaml.j2
  kubernetes/talos-maxi/apps/kube-system/cilium/config/kube-api.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Changing birdnet to a tagged version
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Tweaking kube-api svc
  kubernetes/network/apps/kube-system/cilium/config/kube-api.yaml
Labels: area/kubernetes, cluster/network

Added rook-ceph-external to talos-network
  kubernetes/network/apps/rook-ceph-external/kustomization.yaml
  kubernetes/network/apps/rook-ceph-external/namespace.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/app/kustomization.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/cluster/externalsecret.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/cluster/kustomization.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/cluster/monitor-config.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/cluster/storageclass.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/network

Added volsync/snapshot-controller/csi-nfs
  kubernetes/network/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/csi-driver-nfs/app/kustomization.yaml
  kubernetes/network/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/storage/namespace.yaml
  kubernetes/network/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/network/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/network/apps/storage/snapshot-controller/ks.yaml
  kubernetes/network/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/network/apps/storage/volsync/app/kustomization.yaml
  kubernetes/network/apps/storage/volsync/app/mutations/kustomization.yaml
  kubernetes/network/apps/storage/volsync/app/mutations/volsync-mover-jitter.yaml
  kubernetes/network/apps/storage/volsync/app/mutations/volsync-mover-nfs.yaml
  kubernetes/network/apps/storage/volsync/ks.yaml
  kubernetes/talos-maxi/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Testing syncthing deployment
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/network/apps/default/syncthing/app/kustomization.yaml
  kubernetes/network/apps/default/syncthing/app/networkpolicy.yaml
  kubernetes/network/apps/default/syncthing/ks.yaml
Labels: area/kubernetes, cluster/network

Adding BIND external-dns to talos-network
  kubernetes/network/apps/network/external-dns/bind/externalsecret.yaml
  kubernetes/network/apps/network/external-dns/bind/helmrelease.yaml
  kubernetes/network/apps/network/external-dns/bind/kustomization.yaml
  kubernetes/network/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/network

Changes to do mostly with flux paths
  .github/workflows/flux-local.yaml
  kubernetes/shared/meta/repos/helm/fluxcd-kustomize-mutating-webhook.yaml
  kubernetes/shared/meta/repos/helm/kustomization.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/helm-values.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/kustomizeconfig.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/ks.yaml
  kubernetes/talos-maxi/apps/openebs-system/kustomization.yaml
  kubernetes/talos-maxi/flux/cluster/ks.yaml
  kubernetes/talos-maxi/flux/meta/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/git/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/crunchy-userinit.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/crunchy-users.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/crunchydata.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/emqx.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/grafana.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/intel.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/itzg.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/meilisearch.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/stevehipwell.yaml
  kubernetes/talos-maxi/flux/meta/repositories/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/oci/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/settings/cluster-settings.yaml
  kubernetes/talos-maxi/flux/meta/settings/kustomization.yaml
  kubernetes/talos-maxi/flux/settings/ks-substitution.yaml
Labels: area/github, area/kubernetes, cluster/talos-maxi

Removing the old template paths
  kubernetes/talos-maxi/apps/default/authelia/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/bar-assistant/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/hugo/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/immich/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/lubelog/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/miniflux/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/paperless/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/syncthing/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/tandoor/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/vikunja/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/music-assistant/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/zigbee2mqtt/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/autobrr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/bazarr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/beets/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/dashbrr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/pinchflat/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/plex-addons/kometa/kustomization.yaml
  kubernetes/talos-maxi/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/radarr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/readarr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/sonarr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/tautulli/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/transmission/jeopardy/kustomization.yaml
  kubernetes/talos-maxi/apps/media/transmission/music/kustomization.yaml
  kubernetes/talos-maxi/apps/media/varroa/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/wizarr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/gatus/app/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/kromgo/app/kustomization.yaml
  kubernetes/talos-maxi/apps/storage/minio/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Typos and fixes
  .github/workflows/flux-local.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set-controller/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/ks.yaml
  kubernetes/talos-maxi/apps/database/emqx/ks.yaml
  kubernetes/talos-maxi/apps/default/glauth/ks.yaml
  kubernetes/talos-maxi/apps/default/immich/ks.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/ks.yaml
  kubernetes/talos-maxi/apps/storage/minio/ks.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/github, area/kubernetes, cluster/talos-maxi

Adding an autobrr dashboard
  kubernetes/talos-maxi/apps/media/autobrr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/autobrr/app/resources/grafana-dashboard.yaml
Labels: area/kubernetes, cluster/talos-maxi

Deleting the games deployment
  kubernetes/talos-maxi/apps/games/kustomization.yaml
  kubernetes/talos-maxi/apps/games/minecraft/create/externalsecret.yaml
  kubernetes/talos-maxi/apps/games/minecraft/create/helmrelease.yaml
  kubernetes/talos-maxi/apps/games/minecraft/create/kustomization.yaml
  kubernetes/talos-maxi/apps/games/minecraft/ks.yaml
  kubernetes/talos-maxi/apps/games/minecraft/mc-router/dnsendpoint.yaml
  kubernetes/talos-maxi/apps/games/minecraft/mc-router/helmrelease.yaml
  kubernetes/talos-maxi/apps/games/minecraft/mc-router/kustomization.yaml
  kubernetes/talos-maxi/apps/games/minecraft/vanilla/externalsecret.yaml
  kubernetes/talos-maxi/apps/games/minecraft/vanilla/helmrelease.yaml
  kubernetes/talos-maxi/apps/games/minecraft/vanilla/kustomization.yaml
  kubernetes/talos-maxi/apps/games/minecraft/vanilla/podmonitor.yaml
  kubernetes/talos-maxi/apps/games/namespace.yaml
Labels: area/kubernetes, cluster/talos-maxi

Missed some network cluster flux changes
  kubernetes/network/apps/flux-system/flux-operator/instance/externalsecret.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/podmonitor.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/network/flux/cluster/ks.yaml
  kubernetes/network/flux/meta/kustomization.yaml
  kubernetes/network/flux/settings/ks-substitution.yaml
Labels: area/kubernetes, cluster/network

Adding kustomize-mutating-webhook for network cluster as well
  kubernetes/network/apps/flux-system/kustomization.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/helm-values.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/kustomization.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/kustomizeconfig.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/ks.yaml
Labels: area/kubernetes, cluster/network

Fixes after ks-and-ns-refactor merge
  kubernetes/network/apps/default/syncthing/app/kustomization.yaml
  kubernetes/talos-maxi/apps/storage/minio/ks.yaml
  kubernetes/talos-maxi/apps/storage/snapshot-controller/ks.yaml
  kubernetes/talos-maxi/apps/storage/volsync/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Adding cluster-secrets back to network cluster
  kubernetes/network/apps/cert-manager/kustomization.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/external-secrets/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/network/apps/flux-system/kustomization.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/helm-values.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/helmrelease.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/kustomization.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/app/kustomizeconfig.yaml
  kubernetes/network/apps/flux-system/kustomize-mutating-webhook/ks.yaml
  kubernetes/network/apps/kube-system/cilium/config/bgpclusterconfig.yaml
  kubernetes/network/apps/kube-system/cilium/config/loadbalancerippool.yaml
  kubernetes/network/apps/kube-system/cilium/ks.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/apps/openebs-system/kustomization.yaml
  kubernetes/network/apps/rook-ceph-external/kustomization.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/system-upgrade/kustomization.yaml
  kubernetes/network/flux/cluster/ks.yaml
  kubernetes/network/flux/meta/components/cluster-vars/cluster-secrets.sops.yaml
  kubernetes/network/flux/meta/components/cluster-vars/cluster-settings.yaml
  kubernetes/network/flux/meta/components/cluster-vars/kustomization.yaml
  kubernetes/network/flux/meta/components/kustomization.yaml
  kubernetes/network/flux/vars/cluster-settings.yaml
  kubernetes/network/flux/vars/kustomization.yaml
  kubernetes/shared/meta/components/global-vars/cluster-secrets.sops.yaml
  kubernetes/shared/meta/components/global-vars/cluster-settings.yaml
  kubernetes/shared/meta/components/global-vars/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Adding cluster-secrets to talos-maxi cluster
  kubernetes/network/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/network/apps/kube-system/cilium/config/externalsecret.yaml
  kubernetes/network/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/kustomization.yaml
  kubernetes/talos-maxi/apps/cert-manager/kustomization.yaml
  kubernetes/talos-maxi/apps/database/kustomization.yaml
  kubernetes/talos-maxi/apps/default/kustomization.yaml
  kubernetes/talos-maxi/apps/external-secrets/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/helm-values.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/app/kustomizeconfig.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomize-mutating-webhook/ks.yaml
  kubernetes/talos-maxi/apps/home-automation/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/bgpclusterconfig.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/externalsecret.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/kube-api.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/config/loadbalancerippool.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/ks.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/kustomization.yaml
  kubernetes/talos-maxi/apps/media/kustomization.yaml
  kubernetes/talos-maxi/apps/network/kustomization.yaml
  kubernetes/talos-maxi/apps/network/nginx/external/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/nginx/ks.yaml
  kubernetes/talos-maxi/apps/observability/kustomization.yaml
  kubernetes/talos-maxi/apps/openebs-system/kustomization.yaml
  kubernetes/talos-maxi/apps/rook-ceph-external/kustomization.yaml
  kubernetes/talos-maxi/apps/storage/kustomization.yaml
  kubernetes/talos-maxi/apps/system-upgrade/kustomization.yaml
  kubernetes/talos-maxi/flux/cluster/ks.yaml
  kubernetes/talos-maxi/flux/meta/components/cluster-vars/cluster-secrets.sops.yaml
  kubernetes/talos-maxi/flux/meta/components/cluster-vars/cluster-settings.yaml
  kubernetes/talos-maxi/flux/meta/components/cluster-vars/kustomization.yaml
  kubernetes/talos-maxi/flux/vars/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Add sops secret to every namespace
  kubernetes/network/apps/cert-manager/kustomization.yaml
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/network/apps/external-secrets/kustomization.yaml
  kubernetes/network/apps/flux-system/kustomization.yaml
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/apps/openebs-system/kustomization.yaml
  kubernetes/network/apps/rook-ceph-external/kustomization.yaml
  kubernetes/network/apps/storage/kustomization.yaml
  kubernetes/network/apps/system-upgrade/kustomization.yaml
  kubernetes/shared/meta/components/sops/kustomization.yaml
  kubernetes/shared/meta/components/sops/secret.sops.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/kustomization.yaml
  kubernetes/talos-maxi/apps/cert-manager/kustomization.yaml
  kubernetes/talos-maxi/apps/database/kustomization.yaml
  kubernetes/talos-maxi/apps/default/kustomization.yaml
  kubernetes/talos-maxi/apps/external-secrets/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/kustomization.yaml
  kubernetes/talos-maxi/apps/media/kustomization.yaml
  kubernetes/talos-maxi/apps/network/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/kustomization.yaml
  kubernetes/talos-maxi/apps/openebs-system/kustomization.yaml
  kubernetes/talos-maxi/apps/rook-ceph-external/kustomization.yaml
  kubernetes/talos-maxi/apps/storage/kustomization.yaml
  kubernetes/talos-maxi/apps/system-upgrade/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Fixing crunchy postgres R2 setup
  kubernetes/shared/meta/components/global-vars/cluster-secrets.sops.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/app/kustomization.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing mutating webhook
  kubernetes/shared/meta/repos/helm/fluxcd-kustomize-mutating-webhook.yaml
  kubernetes/shared/meta/repos/helm/kustomization.yaml
Labels: area/kubernetes

Fixed typo in flux-local action
  .github/workflows/flux-local.yaml
Labels: area/github

Setting prune to true for cluster KSs
  .github/workflows/flux-local.yaml
  kubernetes/network/flux/cluster/ks.yaml
  kubernetes/talos-maxi/flux/cluster/ks.yaml
Labels: area/github, area/kubernetes, cluster/talos-maxi, cluster/network

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
# Cluster
cluster/talos-maxi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos-maxi/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: kubernetes/network/**/*
