Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

Fixed secret typo
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
Labels: area/kubernetes

Adding a script to Lidarr
  kubernetes/apps/media/lidarr/app/externalsecret.yaml
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
  kubernetes/apps/media/lidarr/app/kustomization.yaml
  kubernetes/apps/media/lidarr/app/resources/lidarr-wrtag.sh
Labels: area/kubernetes

Revert "Removing beets"
  kubernetes/apps/media/beets/app/externalsecret.yaml
  kubernetes/apps/media/beets/app/helmrelease.yaml
  kubernetes/apps/media/beets/app/kustomization.yaml
  kubernetes/apps/media/beets/ks.yaml
Labels: area/kubernetes

Script tweak
  kubernetes/apps/media/lidarr/app/resources/lidarr-wrtag.sh
Labels: area/kubernetes

Reapply "Removing beets"
  .archive/beets/externalsecret.yaml
  .archive/beets/helmrelease.yaml
  .archive/beets/kustomization.yaml
  kubernetes/apps/media/beets/ks.yaml
Labels: area/kubernetes

Tweaked transmission-music script
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Tweaked transmission-music script
  kubernetes/apps/media/lidarr/app/resources/lidarr-wrtag.sh
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Update security context group and fsGroup values
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

Added a keep_file option for wrtag
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
Labels: area/kubernetes

Adding silence-operator
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

Adding silence-operator (#3090)
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/helmrelease.yaml
  kubernetes/apps/observability/silence-operator/app/kustomization.yaml
  kubernetes/apps/observability/silence-operator/app/ocirepository.yaml
  kubernetes/apps/observability/silence-operator/ks.yaml
  kubernetes/apps/observability/silence-operator/silences/kustomization.yaml
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

Removed bind-exporter
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Lidarr import script workaround for missing extra files functionality
  kubernetes/apps/media/lidarr/app/resources/lidarr-wrtag.sh
Labels: area/kubernetes

One more silence on scrypted-fast
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

Raised logging on autobrr
  kubernetes/apps/media/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Tweaks to transmission-music script
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
Labels: area/kubernetes

Changing beets-backup to run as 1003 group
  kubernetes/apps/media/beets/backup/helmrelease.yaml
Labels: area/kubernetes

Set Lidarr to run as user 1000
  kubernetes/apps/media/lidarr/app/helmrelease.yaml
Labels: area/kubernetes

Tweaking permissions some more
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/media/wrtag/app/helmrelease.yaml
  kubernetes/apps/media/wrtag/ks.yaml
Labels: area/kubernetes

Revert "Tweaked autoMerge"
  .renovate/autoMerge.json5
Labels: area/renovate

Changing group for sonarr
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

Added shell.nix
  .envrc
  shell.nix
Labels: none

Added more tools in shell.nix
  shell.nix
Labels: none

Tweaked lidarr-wrtag some more
  kubernetes/apps/media/lidarr/app/resources/lidarr-wrtag.sh
Labels: area/kubernetes

Adding nemorosa
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/media/transmission/music/kustomization.yaml
  kubernetes/apps/media/transmission/music/pvc.yaml
Labels: area/kubernetes

Fixed port
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Adding nemorosa (#3137)
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/media/transmission/music/kustomization.yaml
  kubernetes/apps/media/transmission/music/pvc.yaml
Labels: area/kubernetes

Fixed url in nemorosa config
  kubernetes/apps/media/transmission/music/externalsecret.yaml
Labels: area/kubernetes

Fixed transmission-music endpoint URL
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/observability/exporters/transmission-exporter/music/helmrelease.yaml
Labels: area/kubernetes

Added nemorosa probes
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Fixed nemorosa port
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Trying an https endpoint for nemorosa
  kubernetes/apps/media/transmission/music/externalsecret.yaml
Labels: area/kubernetes

Changing port for nemorosa
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Testing without securityContext on nemorosa
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Setting debug logging on nemorosa
  kubernetes/apps/media/transmission/music/externalsecret.yaml
Labels: area/kubernetes

Moving tm and nemorosa to same service controller
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Enabling download for nemorosa
  kubernetes/apps/media/transmission/music/externalsecret.yaml
Labels: area/kubernetes

Changing to HTTP port again
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Revert "Changing to HTTP port again"
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Adding nemorosa (#3137)
  kubernetes/apps/media/transmission/music/externalsecret.yaml
  kubernetes/apps/media/transmission/music/helmrelease.yaml
  kubernetes/apps/media/transmission/music/kustomization.yaml
  kubernetes/apps/media/transmission/music/pvc.yaml
  kubernetes/apps/media/transmission/music/resources/transmission-complete.sh
  kubernetes/apps/observability/exporters/transmission-exporter/music/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
