Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Varroa tweaks
  kubernetes/apps/media/varroa/app/externalsecret.yaml
Labels: area/kubernetes

cross-seed fixes
  kubernetes/apps/media/cross-seed-jeopardy/app/externalsecret.yaml
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

Removing CephFS ability from cluster
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/externalsecret.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/storageclass.yaml
Labels: area/kubernetes

Added README.org note for CephFS removal
  kubernetes/apps/rook-ceph-external/rook-ceph/README.org
Labels: area/kubernetes

Yanking out minio
  .github/renovate.json5
  .github/workflows/terraform-diff.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/apps/storage/minio/app/externalsecret.yaml
  kubernetes/apps/storage/minio/app/helmrelease.yaml
  kubernetes/apps/storage/minio/app/kustomization.yaml
  kubernetes/apps/storage/minio/ks.yaml
  terraform/rgw-buckets/backend.tf
Labels: area/github, area/kubernetes, area/terraform

Added serviceMonitor to syncthing
  kubernetes/apps/default/syncthing/app/externalsecret.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/kustomization.yaml
Labels: area/kubernetes

Update terraform-diff.yaml
  .github/workflows/terraform-diff.yaml
Labels: area/github

Removing music assistant because it OOMs node
  kubernetes/apps/home-automation/kustomization.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/home-operations/qbittorrent ( 5.0.4 → 5.1.0 )"
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Added tangle to README
  kubernetes/apps/default/bar-assistant/meilisearch/README.org
Labels: area/kubernetes

Reapply "feat(container): update image ghcr.io/home-operations/qbittorrent ( 5.0.4 → 5.1.0 )"
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Removing webdav
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/webdav/app/config/nginx-config
  kubernetes/apps/default/webdav/app/externalsecret.yaml
  kubernetes/apps/default/webdav/app/helmrelease.yaml
  kubernetes/apps/default/webdav/app/kustomization.yaml
  kubernetes/apps/default/webdav/ks.yaml
Labels: area/kubernetes

Added nix-bastion to Prometheus scraping
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Added to README
  kubernetes/apps/default/bar-assistant/meilisearch/README.org
Labels: area/kubernetes

Syncthing tweaks
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

Fixing beets
  kubernetes/apps/media/beets/app/externalsecret.yaml
Labels: area/kubernetes

Flux 2.6.0 maintenance
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/database/crunchy-postgres/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/helmrepository.yaml
  kubernetes/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrepository.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrepository.yaml
  kubernetes/apps/flux-system/tofu-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tofu-controller/terraform/ocirepository.yaml
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
  kubernetes/apps/kube-system/reloader/app/helmrepository.yaml
  kubernetes/apps/kube-system/spegel/app/helmrepository.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrepository.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
  kubernetes/flux/meta/repositories/oci/app-template.yaml
  kubernetes/flux/meta/repositories/oci/snmp-exporter.yaml
Labels: area/kubernetes

Adding WiFi interface to big hosts
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/kustomization.yaml
  kubernetes/apps/network/multus/config/vf-attach-iot.yaml
  kubernetes/apps/network/multus/config/vf-attach-wireless.yaml
Labels: area/kubernetes

Adding WiFi interface to big hosts
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/kustomization.yaml
  kubernetes/apps/network/multus/config/vf-attach-iot.yaml
  kubernetes/apps/network/multus/config/vf-attach-wireless.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Seeing if this fixes my issue
  kubernetes/apps/kube-system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/operator/helmrelease.yaml
Labels: area/kubernetes

Service Account changes
  kubernetes/apps/media/dashbrr/app/helmrelease.yaml
  kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

Removing nameOverride
  kubernetes/apps/default/hugo/app/helmrelease.yaml
  kubernetes/apps/media/varroa/app/helmrelease.yaml
Labels: area/kubernetes

Fixed indentation
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

SUC tweaks
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

Permission change for Wizarr
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
  kubernetes/apps/media/wizarr/ks.yaml
Labels: area/kubernetes

Added version tag to terraform-diff
  .github/workflows/terraform-diff.yaml
Labels: area/github

Added initContainer for meilisearch
  kubernetes/apps/default/bar-assistant/meilisearch/helmrelease.yaml
Labels: area/kubernetes

Revert "Added initContainer for meilisearch"
  kubernetes/apps/default/bar-assistant/meilisearch/helmrelease.yaml
Labels: area/kubernetes

Added watchdog
  .taskfiles/Talos/Taskfile.yaml
  talos/talconfig.yaml
Labels: area/talos, area/taskfile

Added renovate path
  .github/renovate.json5
  talos/talconfig.yaml
Labels: area/github, area/talos

Removed hook
  kubernetes/apps/media/beets/app/externalsecret.yaml
Labels: area/kubernetes

Fixed talconfig
  talos/talconfig.yaml
Labels: area/talos

Added a cronjob to beets
  kubernetes/apps/media/beets/app/helmrelease.yaml
Labels: area/kubernetes

Adding cache for beets-restic job
  kubernetes/apps/media/beets/app/helmrelease.yaml
  kubernetes/apps/media/beets/app/kustomization.yaml
Labels: area/kubernetes

Added versioning for docker/login-action
  .github/workflows/terraform-publish.yaml
  kubernetes/apps/media/beets/app/pvc.yaml
Labels: area/github, area/kubernetes

Added talos watchdog
  talos/watchdog.yaml
Labels: area/talos

Added verbosity to beets-restic command
  kubernetes/apps/media/beets/app/helmrelease.yaml
Labels: area/kubernetes

Fixed action version
  .github/workflows/terraform-publish.yaml
Labels: area/github

Added oxidized
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/oxidized/app/helmrelease.yaml
  kubernetes/apps/default/oxidized/app/kustomization.yaml
  kubernetes/apps/default/oxidized/ks.yaml
Labels: area/kubernetes

Added oxidized
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/oxidized/app/config/config
  kubernetes/apps/default/oxidized/app/config/router.db
  kubernetes/apps/default/oxidized/app/helmrelease.yaml
  kubernetes/apps/default/oxidized/app/kustomization.yaml
  kubernetes/apps/default/oxidized/app/ssh.sops.yaml
  kubernetes/apps/default/oxidized/ks.yaml
Labels: area/kubernetes
