Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Added some more options for the konflate HR
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
Labels: area/kubernetes

Add konflate (#3873)
  kubernetes/apps/flux-system/konflate/app/externalsecret.yaml
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/ocirepository.yaml
  kubernetes/apps/flux-system/konflate/ks.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart external-dns ( 1.21.1 → 1.22.0 ) (#3866)"
  kubernetes/apps/network/external-dns/external/ocirepository.yaml
  kubernetes/apps/network/external-dns/powerdns/ocirepository.yaml
Labels: area/kubernetes

Edited SKILL.md
  .agents/skills/add-app/SKILL.md
Labels: none

Added konflate mcp
  .mcp.json
Labels: none

Add app-template compliance audit report
  docs/k8s/app-template-compliance.org
Labels: none

Pin image digests for 10 app-template apps
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
  kubernetes/apps/default/lubelog/app/helmrelease.yaml
  kubernetes/apps/default/paperless/app/helmrelease.yaml
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/fstrim/app/helmrelease.yaml
  kubernetes/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/apps/network/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

Strip commonMetadata, timeout, retryInterval from app-template ks.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/bar-assistant/ks.yaml
  kubernetes/apps/default/glauth/ks.yaml
  kubernetes/apps/default/lubelog/ks.yaml
  kubernetes/apps/default/miniflux/ks.yaml
  kubernetes/apps/default/oxidized/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/smtp-relay/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/default/tandoor/ks.yaml
  kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/apps/home-automation/birdnet/ks.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/home-automation/zwave-js-ui/ks.yaml
  kubernetes/apps/kube-system/fstrim/ks.yaml
  kubernetes/apps/kube-system/generic-device-plugin/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed-jeopardy/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/tqm/ks.yaml
  kubernetes/apps/media/wrtag/ks.yaml
  kubernetes/apps/network/cloudflared/ks.yaml
  kubernetes/apps/network/multus/ks.yaml
  kubernetes/apps/observability/gatus/ks.yaml
  kubernetes/apps/observability/kromgo/ks.yaml
Labels: area/kubernetes

Add reloader annotation to jellyseerr and tqm
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
Labels: area/kubernetes

Correct audit report: 6 disabled apps, not build failures
  docs/k8s/app-template-compliance.org
Labels: none

Removed temporary .org file
  docs/k8s/app-template-compliance.org
Labels: none

Replace Homebrew Flux install with fluxcd/flux2/action
  .github/workflows/terraform-publish.yaml
Labels: area/github

Use client-id input for create-github-app-token
  .github/workflows/terraform-diff.yaml
  .github/workflows/terraform-publish.yaml
Labels: area/github

Use client-id input in labeler and renovate workflows
  .github/workflows/labeler.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Let's see if renovate is happier with this
  .github/workflows/terraform-publish.yaml
Labels: area/github

Merge salt-rim into the bar-assistant HelmRelease
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
  kubernetes/apps/default/bar-assistant/ks.yaml
  kubernetes/apps/default/bar-assistant/salt-rim/helmrelease.yaml
  kubernetes/apps/default/bar-assistant/salt-rim/kustomization.yaml
  kubernetes/apps/default/bar-assistant/salt-rim/ocirepository.yaml
Labels: area/kubernetes

Fix service references and PVC mounts in merged release
  kubernetes/apps/default/bar-assistant/app/config/nginx-config
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Restore PVC mount for chown-app initContainer
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Remove chown-app initContainer from bar-assistant
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Run bar-assistant explicitly as 33:33, drop privileged
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Use controller-level pod.securityContext (schema fix)
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Merge salt-rim into the bar-assistant HelmRelease (#3889)
  kubernetes/apps/default/bar-assistant/app/config/nginx-config
  kubernetes/apps/default/bar-assistant/app/helmrelease.yaml
  kubernetes/apps/default/bar-assistant/ks.yaml
  kubernetes/apps/default/bar-assistant/salt-rim/helmrelease.yaml
  kubernetes/apps/default/bar-assistant/salt-rim/kustomization.yaml
  kubernetes/apps/default/bar-assistant/salt-rim/ocirepository.yaml
Labels: area/kubernetes

Talos overhaul
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/machineconfig.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/talos-actinium.yaml.j2
  talos/nodes/talos-g3-mini.yaml.j2
  talos/nodes/talos-n150-01.yaml.j2
  talos/nodes/talos-protactinium.yaml.j2
  talos/nodes/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
  talos/talconfig.yaml
  talos/watchdog.yaml
  talos/workers.yaml.j2
Labels: area/talos

Additional changes
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
Labels: area/talos

Misc changes, probably won't work
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
Labels: area/talos

More changes based on onedr0p
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
Labels: area/talos

Source V6 CIDRs from 1Password and move to k8s 1.37.0
  talos/README.md
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
Labels: area/talos

Park miroir migration notes (OpenEBS replacement)
  docs/miroir-migration.md
Labels: none

Group all Cilium updates (docker, helm, github-releases) into one PR
  .renovate/groups.json5
Labels: area/renovate

Include Cilium version in PR title
  .renovate/groups.json5
Labels: area/renovate

external-dns tweaks
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/home-operations/charts-mirror/external-dns ( 1.21.1 → 1.22.0 ) (#3876)"
  kubernetes/apps/network/external-dns/external/ocirepository.yaml
  kubernetes/apps/network/external-dns/powerdns/ocirepository.yaml
Labels: area/kubernetes

Necessary migration step for external-dns
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
Labels: area/kubernetes

Remove annotationPrefix from external-dns
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes

Revert "Remove annotationPrefix from external-dns"
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
Labels: area/kubernetes

Add external-dns.kubernetes.io/hostname annotation alongside alpha version
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-external.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
Labels: area/kubernetes

Remove external-dns.alpha.kubernetes.io/hostname annotations
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
Labels: area/kubernetes

Revert "Remove external-dns.alpha.kubernetes.io/hostname annotations"
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
Labels: area/kubernetes

Drop the annotationPrefix
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
Labels: area/kubernetes

Revert "Drop the annotationPrefix"
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
Labels: area/kubernetes
