Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Added TODO for oxidized
  kubernetes/apps/default/oxidized/app/helmrelease.yaml
Labels: area/kubernetes

Removed additional OpenEBS plugins
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
Labels: area/kubernetes

Added more Brocade SNMP switches
  kubernetes/apps/observability/exporters/snmp-exporter/brocade/helmrelease.yaml
Labels: area/kubernetes

Added n150 node
  kubernetes/apps/kube-system/intel-device-plugins/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  talos/clusterconfig/.gitignore
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Added scrypted-server in prep for cluster mode
  kubernetes/apps/home-automation/scrypted/client/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/client/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/home-automation/scrypted/server/externalsecret.yaml
  kubernetes/apps/home-automation/scrypted/server/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/server/kustomization.yaml
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/network/multus/config/net-attach-iot.yaml
  kubernetes/apps/network/multus/config/net-attach-wireless.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Added IPv6 RA config to Multus
  kubernetes/apps/network/multus/config/net-attach-wireless.yaml
Labels: area/kubernetes

Misc Talos changes
  talos/talconfig.yaml
Labels: area/talos

Fixed Multus interface sysctl
  kubernetes/apps/network/multus/config/net-attach-wireless.yaml
Labels: area/kubernetes

Moving scrypted to newer node
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
Labels: area/kubernetes

Scrypted is now external
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
Labels: area/kubernetes

Scrypted clean-up
  kubernetes/apps/home-automation/scrypted/client/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/client/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/home-automation/scrypted/server/externalsecret.yaml
  kubernetes/apps/home-automation/scrypted/server/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/server/kustomization.yaml
Labels: area/kubernetes

Added Multus CRD GitRepo
  kubernetes/apps/network/multus/app/crds.yaml
  kubernetes/apps/network/multus/app/kustomization.yaml
Labels: area/kubernetes

Adding fast storage to Scrypted
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/app/pvc.yaml
Labels: area/kubernetes

Renovate changes
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/semanticCommits.json5
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  renovate.json5
Labels: area/github, area/renovate

Added Grafana to autoMerge
  .renovate/autoMerge.json5
Labels: area/renovate

Changing beets mounts
  kubernetes/apps/media/beets/app/helmrelease.yaml
Labels: area/kubernetes

Fixed scheduling of system-upgrade pod
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes

Added a startup probe for jellyseerr
  kubernetes/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes

Reworked beets-backup
  kubernetes/apps/media/beets/app/helmrelease.yaml
  kubernetes/apps/media/beets/backup/helmrelease.yaml
  kubernetes/apps/media/beets/backup/kustomization.yaml
  kubernetes/apps/media/beets/backup/pvc.yaml
  kubernetes/apps/media/beets/ks.yaml
Labels: area/kubernetes

Added to cilium readme
  kubernetes/apps/kube-system/cilium/README.org
Labels: area/kubernetes

Added TODO github action
  .github/workflows/todos.yaml
Labels: area/github

Added TODO for SNMP Brocade
  kubernetes/apps/observability/exporters/snmp-exporter/brocade/helmrelease.yaml
Labels: area/kubernetes

Changed TODO to FIXME for oxidized
  kubernetes/apps/default/oxidized/app/helmrelease.yaml
Labels: area/kubernetes

Adding netbox
  kubernetes/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/apps/database/dragonfly/app/helmrepository.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/netbox/app/externalsecret.yaml
  kubernetes/apps/default/netbox/app/helmrelease.yaml
  kubernetes/apps/default/netbox/app/httproute.yaml
  kubernetes/apps/default/netbox/app/kustomization.yaml
  kubernetes/apps/default/netbox/ks.yaml
  kubernetes/components/dragonfly/cluster.yaml
  kubernetes/components/dragonfly/kustomization.yaml
  kubernetes/components/dragonfly/podmonitor.yaml
  terraform/rgw-buckets/buckets.tf
Labels: area/kubernetes, area/terraform

Trying to install netbox-kea plugin
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Trying to install netbox-kea plugin"
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Changing image to custom and re-adding plugin
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Stop scheduling netbox on protactinium
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Allowing fstrim to be scheduled on N150 node
  kubernetes/apps/kube-system/fstrim/app/helmrelease.yaml
Labels: area/kubernetes

Making scrypted-fast PVC smaller
  kubernetes/apps/home-automation/scrypted/app/pvc.yaml
Labels: area/kubernetes

Setting netbox chart to follow Chart.AppVersion
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Added Loki Rule TODOs
  kubernetes/apps/home-automation/zigbee2mqtt/app/resources/lokirule.yaml
Labels: area/kubernetes

Added another Loki Rule TODO
  kubernetes/apps/home-automation/zigbee2mqtt/app/resources/lokirule.yaml
Labels: area/kubernetes

Removing hook from beets
  kubernetes/apps/media/beets/app/externalsecret.yaml
Labels: area/kubernetes

Adjusting probes for beets
  kubernetes/apps/media/beets/app/helmrelease.yaml
Labels: area/kubernetes

Testing automated image update with netbox
  kubernetes/apps/default/netbox/app/helmrelease.yaml
  kubernetes/apps/default/netbox/app/imagerepository.yaml
  kubernetes/apps/default/netbox/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/instance/externalsecret.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/apps/flux-system/flux-operator/instance/imageupdateautomation.yaml
  kubernetes/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/components/common/alerts/github/externalsecret.yaml
Labels: area/kubernetes

Added imagepolicy for netbox tag as well
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Cleanup of Flux
  .taskfiles/bootstrap/Taskfile.yaml
  bootstrap/templates/resources.yaml.j2
  kubernetes/apps/default/netbox/app/imagerepository.yaml
  kubernetes/apps/flux-system/flux-operator/instance/externalsecret.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/apps/flux-system/flux-operator/instance/imageupdateautomation.yaml
  kubernetes/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/components/common/alerts/github/externalsecret.yaml
Labels: area/bootstrap, area/kubernetes, area/taskfile

Added netbox plugins
  kubernetes/apps/default/netbox/app/helmrelease.yaml
  kubernetes/apps/default/netbox/app/imagerepository.yaml
Labels: area/kubernetes

Added netbox plugins
  kubernetes/apps/default/netbox/app/helmrelease.yaml
  kubernetes/apps/default/netbox/app/imagerepository.yaml
Labels: area/kubernetes
