Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

Archiving EMQX
  .archive/emqx/app/externalsecret.yaml
  .archive/emqx/app/grafanadashboard.yaml
  .archive/emqx/app/helmrelease.yaml
  .archive/emqx/app/kustomization.yaml
  .archive/emqx/cluster/cluster.yaml
  .archive/emqx/cluster/gatus.yaml
  .archive/emqx/cluster/httproute.yaml
  .archive/emqx/cluster/kustomization.yaml
  .archive/emqx/cluster/networkpolicy.yaml
  .archive/emqx/cluster/podmonitor.yaml
  .archive/emqx/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

Added mosquitto
  .archive/emqx/app/externalsecret.yaml
  .archive/emqx/app/grafanadashboard.yaml
  .archive/emqx/app/helmrelease.yaml
  .archive/emqx/app/kustomization.yaml
  .archive/emqx/cluster/cluster.yaml
  .archive/emqx/cluster/gatus.yaml
  .archive/emqx/cluster/httproute.yaml
  .archive/emqx/cluster/kustomization.yaml
  .archive/emqx/cluster/networkpolicy.yaml
  .archive/emqx/cluster/podmonitor.yaml
  .archive/emqx/ks.yaml
  kubernetes/apps/home-automation/birdnet/app/externalsecret.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/kustomization.yaml
  kubernetes/apps/home-automation/mosquitto/app/networkpolicy.yaml
  kubernetes/apps/home-automation/mosquitto/app/ocirepository.yaml
  kubernetes/apps/home-automation/mosquitto/ks.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/externalsecret.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/observability/exporters/mqtt-exporter/app/externalsecret.yaml
  kubernetes/apps/observability/exporters/mqtt-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/mqtt-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/mqtt-exporter/ks.yaml
  kubernetes/flux/meta/repositories/helm/emqx.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Added grafana dashboard for qbittorrent
  kubernetes/apps/observability/exporters/qbittorrent-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/exporters/qbittorrent-exporter/app/kustomization.yaml
Labels: area/kubernetes

Removing dragonfly dashboard for now
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
Labels: area/kubernetes

Change pdns-server IP
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
Labels: area/kubernetes

Doubling memory for qbittorrent-exporter
  kubernetes/apps/observability/exporters/qbittorrent-exporter/app/helmrelease.yaml
Labels: area/kubernetes

Temporarily removing probes for qB
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Testing with externalTrafficPolicy: Local on qB
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Temporarily removing probes for qB"
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Separating http and bittorrent endpoints for qB
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Removed BR-DISK (BTN)
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Re-enabling BR-DISK filtering
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Added prometheus-adapter
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/prometheus-adapter/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-adapter/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-adapter/app/ocirepository.yaml
  kubernetes/apps/observability/prometheus-adapter/ks.yaml
  kubernetes/components/zeroscaler/horizontalpodautoscaler.yaml
  kubernetes/components/zeroscaler/kustomization.yaml
Labels: area/kubernetes

Added blackbox-exporter
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/observability/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

Adding autoscaling (#3334)
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/observability/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/kustomization.yaml
  kubernetes/apps/observability/blackbox-exporter/app/ocirepository.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
  kubernetes/apps/observability/blackbox-exporter/ks.yaml
  kubernetes/apps/observability/kustomization.yaml
  kubernetes/apps/observability/prometheus-adapter/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-adapter/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-adapter/app/ocirepository.yaml
  kubernetes/apps/observability/prometheus-adapter/ks.yaml
  kubernetes/components/zeroscaler/horizontalpodautoscaler.yaml
  kubernetes/components/zeroscaler/kustomization.yaml
Labels: area/kubernetes

Small fixes for autoscaling
  kubernetes/apps/observability/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-adapter/app/helmrelease.yaml
Labels: area/kubernetes

Small fixes for autoscaling
  kubernetes/apps/observability/blackbox-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/blackbox-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

Added scaling to deployments that need it
  kubernetes/apps/home-automation/music-assistant/ks.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed-jeopardy/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/lidarr/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/wrtag/ks.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

Added silence for HPA
  kubernetes/apps/observability/silence-operator/silences/silences.yaml
Labels: area/kubernetes

Removed workstation taskfile
  .taskfiles/Workstation/Archfile
  .taskfiles/Workstation/Brewfile
  .taskfiles/Workstation/Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

Setting `metricsProviders` for descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

Setting metricsServer as well for descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Setting metricsServer as well for descheduler"
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

Setting metricsUtilization in descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

Deploying forgejo
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/forgejo/app/externalsecret.yaml
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/apps/default/forgejo/app/kustomization.yaml
  kubernetes/apps/default/forgejo/app/ocirepository.yaml
  kubernetes/apps/default/forgejo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
Labels: area/kubernetes

Fixed typos
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/forgejo/app/externalsecret.yaml
Labels: area/kubernetes

Deploying forgejo (#3360)
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/forgejo/app/externalsecret.yaml
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/apps/default/forgejo/app/kustomization.yaml
  kubernetes/apps/default/forgejo/app/ocirepository.yaml
  kubernetes/apps/default/forgejo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
Labels: area/kubernetes

Added forgejo bucket for dragonfly
  terraform/rgw-buckets/buckets.tf
Labels: area/terraform

Revert "Deploying forgejo (#3360)"
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/forgejo/app/externalsecret.yaml
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/apps/default/forgejo/app/kustomization.yaml
  kubernetes/apps/default/forgejo/app/ocirepository.yaml
  kubernetes/apps/default/forgejo/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
Labels: area/kubernetes

Experimenting with Envoy Gateway
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/gateway/podmonitor.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

Fixed certificate
  kubernetes/apps/network/envoy-gateway/gateway/externalsecret.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/kustomization.yaml
Labels: area/kubernetes

Disabled HTTPS route in Envoy for now
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
Labels: area/kubernetes

Experimenting with Envoy Gateway
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/gateway/podmonitor.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

Disabled HTTPS route in Envoy for now
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
Labels: area/kubernetes

Fixed certificate
  kubernetes/apps/network/envoy-gateway/gateway/externalsecret.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/kustomization.yaml
Labels: area/kubernetes

Don't schedule on g3-mini
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes

Forgejo HelmRelease tweaks for envoy-gateway
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes

Enabling HTTPS route in Envoy
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
Labels: area/kubernetes

Forgejo 2.0 (#3368)
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/envoy.yaml
  kubernetes/apps/network/envoy-gateway/gateway/externalsecret.yaml
  kubernetes/apps/network/envoy-gateway/gateway/https-redirect.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/gateway/networkpolicy.yaml
Labels: area/kubernetes

Adding zeroscaler for pinchflat
  kubernetes/apps/media/pinchflat/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
