Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Adding cilium options
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  mise.toml
Labels: area/kubernetes

Revert "Merge pull request #2138 from frantathefranta/renovate/cilium-1.x"
  bootstrap/helmfile.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/bootstrap, area/kubernetes

Disabling hubble cert
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Added helm cli
  mise.toml
Labels: none

Added more flux dashboards
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Seeing if this fixes netbox
  kubernetes/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

Disabling hubble
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Re-enabling hubble one component at a time
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Re-enabling hubble one component at a time"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Post 2.0 upgrade to tandoor
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

Post 2.0 upgrade to tandoor
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

Added tandoor-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tandoor-test/app/externalsecret.yaml
  kubernetes/apps/default/tandoor-test/app/helmrelease.yaml
  kubernetes/apps/default/tandoor-test/app/kustomization.yaml
  kubernetes/apps/default/tandoor-test/ks.yaml
Labels: area/kubernetes

Added tandoor-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tandoor-test/app/externalsecret.yaml
  kubernetes/apps/default/tandoor-test/app/helmrelease.yaml
  kubernetes/apps/default/tandoor-test/app/kustomization.yaml
  kubernetes/apps/default/tandoor-test/ks.yaml
Labels: area/kubernetes

Added tandoor-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/tandoor-test/app/externalsecret.yaml
  kubernetes/apps/default/tandoor-test/app/helmrelease.yaml
  kubernetes/apps/default/tandoor-test/app/kustomization.yaml
  kubernetes/apps/default/tandoor-test/ks.yaml
Labels: area/kubernetes

Post 2.0 upgrade to tandoor
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

Post 2.0 upgrade to tandoor
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

Fixed tandoor
  kubernetes/apps/default/tandoor/app/helmrelease.yaml
Labels: area/kubernetes

Playing around with hubble again, seeing if it will break
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Revert "Playing around with hubble again, seeing if it will break"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Reapply "Playing around with hubble again, seeing if it will break"
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Cilium tweaks with hubble route
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/httproute.yaml
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes

Updating to v2 of Cilium BGP CRDs
  kubernetes/apps/kube-system/cilium/config/bgpadvertisement.yaml
  kubernetes/apps/kube-system/cilium/config/bgpclusterconfig.yaml
  kubernetes/apps/kube-system/cilium/config/bgppeerconfig.yaml
Labels: area/kubernetes

Removed wizarr
  .archive/wizarr/app/helmrelease.yaml
  .archive/wizarr/app/kustomization.yaml
  .archive/wizarr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Cilium fixes after 1.18.1
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

Added tqm (disabled qbtools)
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/kustomization.yaml
  kubernetes/apps/media/tqm/app/resources/config.yaml
  kubernetes/apps/media/tqm/ks.yaml
Labels: area/kubernetes

Added tqm (disabled qbtools)
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/kustomization.yaml
  kubernetes/apps/media/tqm/app/resources/config.yaml
  kubernetes/apps/media/tqm/ks.yaml
Labels: area/kubernetes

Added tqm (disabled qbtools)
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/tqm/app/helmrelease.yaml
  kubernetes/apps/media/tqm/app/kustomization.yaml
  kubernetes/apps/media/tqm/app/resources/config.yaml
  kubernetes/apps/media/tqm/ks.yaml
Labels: area/kubernetes

Moved qbtools to archive
  .archive/qbtools/helmrelease.yaml
  .archive/qbtools/kustomization.yaml
  .archive/qbtools/qbtools.secret.sops.yaml
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
Labels: area/kubernetes

Adding renovate autoMerge options
  .renovate/autoMerge.json5
Labels: area/renovate

Added netpol for smtp-relay
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/kustomization.yaml
  kubernetes/apps/default/smtp-relay/app/networkpolicy.yaml
Labels: area/kubernetes

Seeing if this fixes failing of the bar-assistant ks
  kubernetes/apps/default/bar-assistant/ks.yaml
Labels: area/kubernetes

Changing volsync to Copy because of Proxmox Ceph issues
  kubernetes/components/volsync/local/replicationsource.yaml
Labels: area/kubernetes

Changed syncthing to listen on 22000/UDP as well
  kubernetes/apps/default/syncthing/app/helmrelease.yaml
  mise.toml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Changing replicationsource to Direct on R2 backups
  kubernetes/components/volsync/remote/replicationsource.yaml
Labels: area/kubernetes

Tautulli crashing again if it doesn't have long enough startup
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

Tautulli crashing again if it doesn't have long enough startup
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

Removed mutating policy
  talos/talconfig.yaml
Labels: area/talos

Revert "feat(container): update image ghcr.io/siderolabs/kubelet ( v1.33.4 → v1.34.0 )"
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Revert "feat(container): update image ghcr.io/siderolabs/installer ( v1.10.7 → v1.11.0 )"
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Disabling ceph monitoring
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes
