Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, cluster/talos-maxi, cluster/network

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
# Cluster
cluster/talos-maxi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos-maxi/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: kubernetes/network/**/*

Migrating to DHCP leases for talos nodes
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "feat(github-action): update image ghcr.io/allenporter/flux-local ( v6.0.2 → v6.1.0 )"
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-image-test.yaml
Labels: area/github

Added toleration for special node to NFD helmrelease
  kubernetes/talos-maxi/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding birdnet
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/ks.yaml
  kubernetes/talos-maxi/apps/home-automation/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added metrics endpoint for birdnet
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed persistence setup for birdnet
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added latitude and longitude for birdnet
  kubernetes/shared/settings/cluster-secrets.sops.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removed args from pod
  kubernetes/shared/settings/cluster-secrets.sops.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing securityContext for birdnet
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added replicas for EMQX operator
  kubernetes/talos-maxi/apps/database/emqx/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Deploying replacement BIND server
  kubernetes/talos-maxi/apps/network/external-dns/bind/externalsecret.yaml
  kubernetes/talos-maxi/apps/network/external-dns/bind/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/external-dns/bind/kustomization.yaml
  kubernetes/talos-maxi/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Deploying replacement BIND server
  kubernetes/talos-maxi/apps/network/external-dns/bind/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Tweaking talos system-upgrade plan
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Added mini talos upgrade plan
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/talos-g3-mini.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing unnecessary toleration
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/kubernetes.yaml
Labels: area/kubernetes, cluster/talos-maxi

Re-adding BIND (new)
  kubernetes/talos-maxi/apps/network/external-dns/bind/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing validSubnets for etcd and kubelet
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added cleanup flag to multus development
  kubernetes/talos-maxi/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Cleaning up .github dir
  .github/CODEOWNERS
  .github/renovate.json5
Labels: area/github

Changing to netkit
  kubernetes/talos-maxi/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding new DNS setup
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
  kubernetes/talos-maxi/bootstrap/talos/talenv.sops.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixed domain
  kubernetes/talos-maxi/bootstrap/talos/talenv.sops.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing cluster wide network policy
  kubernetes/network/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes, cluster/network

Removing cluster wide network policy
  kubernetes/talos-maxi/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing network policies for now
  kubernetes/network/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/talos-maxi/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/talos-maxi/apps/default/syncthing/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/transmission/jeopardy/kustomization.yaml
  kubernetes/talos-maxi/apps/media/transmission/music/kustomization.yaml
  kubernetes/talos-maxi/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/talos-maxi/apps/network/ingress-nginx/internal/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Revert "Removing network policies for now"
  kubernetes/network/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/talos-maxi/apps/database/emqx/cluster/kustomization.yaml
  kubernetes/talos-maxi/apps/default/syncthing/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/qbittorrent/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/transmission/jeopardy/kustomization.yaml
  kubernetes/talos-maxi/apps/media/transmission/music/kustomization.yaml
  kubernetes/talos-maxi/apps/network/ingress-nginx/external/kustomization.yaml
  kubernetes/talos-maxi/apps/network/ingress-nginx/internal/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Revert "Removing cluster wide network policy"
  kubernetes/network/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes, cluster/network

Re-added clusterwidenetworkpolicy
  kubernetes/talos-maxi/apps/kube-system/cilium/config/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changes to cilium
  kubernetes/talos-maxi/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/talos-maxi/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Talos network improvements (sysctls)
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding multus-iot interface to zwave deployment
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added jellyseerr PG db
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/postgrescluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding PG config to Jellyseerr
  kubernetes/talos-maxi/apps/media/jellyseerr/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/media/jellyseerr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/jellyseerr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/jellyseerr/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding a network policy for main PG db
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/kustomization.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/networkpolicy.yaml
Labels: area/kubernetes, cluster/talos-maxi

Troubleshooting jellyseerr
  kubernetes/talos-maxi/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Troubleshooting jellyseerr"
  kubernetes/talos-maxi/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added dashbrr
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/postgrescluster.yaml
  kubernetes/talos-maxi/apps/default/authelia/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/default/authelia/app/resources/configuration.yaml
  kubernetes/talos-maxi/apps/media/dashbrr/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/media/dashbrr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/dashbrr/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/dashbrr/app/rbac.yaml
  kubernetes/talos-maxi/apps/media/dashbrr/app/resources/config.toml
  kubernetes/talos-maxi/apps/media/dashbrr/ks.yaml
  kubernetes/talos-maxi/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Updated dashbrr version
  kubernetes/talos-maxi/apps/media/dashbrr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Merge pull request #958 from frantathefranta/renovate/maxi-ingress-nginx-4.x"
  kubernetes/talos-maxi/apps/network/ingress-nginx/external/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/ingress-nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Nginx tweaks
  kubernetes/network/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/network/apps/network/kustomization.yaml
  kubernetes/network/apps/network/nginx/certificates/kustomization.yaml
  kubernetes/network/apps/network/nginx/certificates/production.yaml
  kubernetes/network/apps/network/nginx/certificates/staging.yaml
  kubernetes/network/apps/network/nginx/external/helmrelease.yaml
  kubernetes/network/apps/network/nginx/external/kustomization.yaml
  kubernetes/network/apps/network/nginx/external/networkpolicy.yaml
  kubernetes/network/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/network/apps/network/nginx/internal/kustomization.yaml
  kubernetes/network/apps/network/nginx/internal/networkpolicy.yaml
  kubernetes/network/apps/network/nginx/internal/services/home-assistant.yaml
  kubernetes/network/apps/network/nginx/internal/services/opnsense.yaml
  kubernetes/network/apps/network/nginx/internal/services/proxmox.yaml
  kubernetes/network/apps/network/nginx/ks.yaml
  kubernetes/talos-maxi/apps/network/cloudflared/app/configs/config.yaml
  kubernetes/talos-maxi/apps/network/kustomization.yaml
  kubernetes/talos-maxi/apps/network/nginx/certificates/kustomization.yaml
  kubernetes/talos-maxi/apps/network/nginx/certificates/production.yaml
  kubernetes/talos-maxi/apps/network/nginx/certificates/staging.yaml
  kubernetes/talos-maxi/apps/network/nginx/external/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/nginx/external/kustomization.yaml
  kubernetes/talos-maxi/apps/network/nginx/external/networkpolicy.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/kustomization.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/networkpolicy.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/services/home-assistant.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/services/opnsense.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/services/proxmox.yaml
  kubernetes/talos-maxi/apps/network/nginx/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network
