Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Revert "fix(container): update rook-ceph group ( v1.18.4 → v1.18.5 )"
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update rook-ceph group ( v1.18.4 → v1.18.5 )"
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Removed bastion from node-exporter
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Change Loki OCP repository
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Trying to unwedge rook-ceph-operator helmrelease
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

Downgrade loki chart
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Rook-ceph tweaks
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Loki sidecar tweaks
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container)!: Update image ghcr.io/home-operations/k8s-sidecar ( 1.30.10 → 2.0.3 )"
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Added bird-exporter config
  kubernetes/apps/observability/grafana/app/dashboards/bird-bgp.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Moving to latest pinchflat
  kubernetes/apps/media/pinchflat/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/authelia/authelia ( 4.39.13 → 4.39.14 ) (#2563)"
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/authelia/authelia ( 4.39.13 → 4.39.14 ) (#2580)"
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 10.1.4 → 10.1.5 ) (#2592)"
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Will this fix things?
  .github/workflows/image-pull.yaml
Labels: area/github

Revert "feat(container): update image ghcr.io/home-operations/actions-runner ( 2.329.0 → 2.330.0 ) (#2591)"
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes

Revert "Will this fix things?"
  .github/workflows/image-pull.yaml
Labels: area/github

Changed FQDN for scrape
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/grafana/helm-charts/grafana ( 10.1.4 → 10.1.5 ) (#2595)"
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Changed nameservers
  talos/talconfig.yaml
Labels: area/talos

Removed pinned tag for meilisearch
  kubernetes/apps/default/bar-assistant/meilisearch/helmrelease.yaml
Labels: area/kubernetes

Forgot to change this one long time ago
  .github/workflows/terraform-diff.yaml
Labels: area/github

Added BIND exporter scrape
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes

Removed dashbrr
  .archive/dashbrr/app/externalsecret.yaml
  .archive/dashbrr/app/helmrelease.yaml
  .archive/dashbrr/app/kustomization.yaml
  .archive/dashbrr/app/rbac.yaml
  .archive/dashbrr/app/resources/config.toml
  .archive/dashbrr/ks.yaml
  kubernetes/apps/media/kustomization.yaml
  talos/talconfig.yaml
Labels: area/kubernetes, area/talos

Revert "feat(container)!: Update image ghcr.io/home-operations/k8s-sidecar ( 1.30.10 → 2.0.3 ) (#2529)"
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Gatus changes
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
  kubernetes/apps/observability/gatus/app/kustomization.yaml
  kubernetes/apps/observability/gatus/app/prometheusrule.yaml
  kubernetes/apps/observability/gatus/app/rbac.yaml
Labels: area/kubernetes

Removing old references
  .archive/wizarr/ks.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/bar-assistant/ks.yaml
  kubernetes/apps/default/lubelog/ks.yaml
  kubernetes/apps/default/miniflux/ks.yaml
  kubernetes/apps/default/netbox/ks.yaml
  kubernetes/apps/default/oxidized/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/default/tandoor/ks.yaml
  kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/apps/home-automation/birdnet/ks.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/home-automation/zwave-js-ui/ks.yaml
  kubernetes/apps/media/autobrr/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/beets/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
  kubernetes/apps/media/plex-addons/ks.yaml
  kubernetes/apps/media/prowlarr/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/radarr/ks.yaml
  kubernetes/apps/media/readarr/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/sonarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/media/varroa/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/components/gatus/external/config.yaml
  kubernetes/components/gatus/external/kustomization.yaml
  kubernetes/components/gatus/guarded/config.yaml
  kubernetes/components/gatus/guarded/kustomization.yaml
Labels: area/kubernetes

Fixed typo
  kubernetes/apps/observability/gatus/app/helmrelease.yaml
Labels: area/kubernetes

Migrating the webhook
  kubernetes/apps/flux-system/flux-operator/instance/webhook/httproute.yaml
  kubernetes/apps/observability/gatus/app/config/config.yaml
  kubernetes/apps/observability/gatus/app/prometheusrule.yaml
Labels: area/kubernetes

Removed manual services
  kubernetes/apps/kube-system/cilium/config/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/services/home-assistant.yaml
  kubernetes/apps/kube-system/cilium/config/services/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/services/opnsense.yaml
  kubernetes/apps/kube-system/cilium/config/services/proxmox.yaml
Labels: area/kubernetes

Loki sidecar changes
  kubernetes/apps/observability/loki/app/helmrelease.yaml
Labels: area/kubernetes

Migrating to grafana-operator
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/grafanadashboard.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/emqx/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/instance/configmaps/flux-control-plane.json
  kubernetes/apps/flux-system/flux-operator/instance/configmaps/flux-instance-stats.json
  kubernetes/apps/flux-system/flux-operator/instance/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/dashboards/configmaps/apt-monitoring.json
  kubernetes/apps/observability/grafana/dashboards/configmaps/bird-bgp.json
  kubernetes/apps/observability/grafana/dashboards/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/dashboards/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/externalsecret.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  mise.toml
Labels: area/kubernetes

Migrating to grafana-operator (#2654)
  kubernetes/apps/cert-manager/cert-manager/app/grafanadashboard.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/database/dragonfly/app/grafanadashboard.yaml
  kubernetes/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/apps/database/emqx/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/grafanadashboard.yaml
  kubernetes/apps/external-secrets/external-secrets/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/instance/configmaps/flux-control-plane.json
  kubernetes/apps/flux-system/flux-operator/instance/configmaps/flux-instance-stats.json
  kubernetes/apps/flux-system/flux-operator/instance/grafanadashboard.yaml
  kubernetes/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/grafanadashboard.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/network/cloudflared/app/grafanadashboard.yaml
  kubernetes/apps/network/cloudflared/app/kustomization.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/grafanadashboard.yaml
  kubernetes/apps/observability/exporters/nut-exporter/app/kustomization.yaml
  kubernetes/apps/observability/exporters/qbittorrent-exporter/app/helmrelease.yaml
  kubernetes/apps/observability/grafana/dashboards/configmaps/apt-monitoring.json
  kubernetes/apps/observability/grafana/dashboards/configmaps/bird-bgp.json
  kubernetes/apps/observability/grafana/dashboards/grafanadashboard.yaml
  kubernetes/apps/observability/grafana/dashboards/kustomization.yaml
  kubernetes/apps/observability/grafana/instance/externalsecret.yaml
  kubernetes/apps/observability/grafana/instance/grafana.yaml
  kubernetes/apps/observability/grafana/instance/grafanadatasource.yaml
  kubernetes/apps/observability/grafana/instance/httproute.yaml
  kubernetes/apps/observability/grafana/instance/kustomization.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/apps/observability/grafana/operator/helmrelease.yaml
  kubernetes/apps/observability/grafana/operator/kustomization.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/grafanadashboard.yaml
  kubernetes/apps/observability/kube-prometheus-stack/app/kustomization.yaml
  mise.toml
Labels: area/kubernetes

Flux kustomizeconfig tweaks
  kubernetes/apps/flux-system/flux-operator/instance/kustomizeconfig.yaml
Labels: area/kubernetes

Added dashboards
  kubernetes/apps/observability/grafana/dashboards/grafanadashboard.yaml
Labels: area/kubernetes

Grafana tweaks
  .archive/grafana/dashboards/apt-monitoring.yaml
  .archive/grafana/dashboards/bird-bgp.yaml
  .archive/grafana/externalsecret.yaml
  .archive/grafana/helmrelease.yaml
  .archive/grafana/kustomization.yaml
  kubernetes/apps/observability/grafana/dashboards/configmaps/bird-bgp.json
  kubernetes/apps/observability/grafana/ks.yaml
Labels: area/kubernetes

Removed cosign from app-template repo
  kubernetes/flux/meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

Removed cosign verify from CoreDNS repo
  kubernetes/apps/kube-system/coredns/app/helmrepository.yaml
Labels: area/kubernetes

Changed delay and failure threshold for transmission
  kubernetes/apps/media/transmission/music/helmrelease.yaml
Labels: area/kubernetes

Changed terraform-diff action
  .github/workflows/terraform-diff.yaml
Labels: area/github
