Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, cluster/talos-maxi, cluster/network

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
# Cluster
cluster/talos-maxi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos-maxi/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: kubernetes/network/**/*

Nginx testing
  kubernetes/talos-maxi/apps/network/nginx/internal/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Varroa image change
  kubernetes/talos-maxi/apps/media/varroa/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added pushsecret for Nginx certs
  kubernetes/talos-maxi/apps/network/nginx/certificates/kustomization.yaml
  kubernetes/talos-maxi/apps/network/nginx/certificates/pushsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixed typo
  kubernetes/talos-maxi/apps/network/nginx/certificates/pushsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added Intel GPU exporter
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/exporter/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/exporter/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Testing with mounting certs inside of varroa
  kubernetes/talos-maxi/apps/media/varroa/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Testing with mounting certs inside of varroa"
  kubernetes/talos-maxi/apps/media/varroa/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added bar-assistant to Gatus
  kubernetes/talos-maxi/apps/default/bar-assistant/app/kustomization.yaml
  kubernetes/talos-maxi/apps/default/bar-assistant/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added recyclarr radarr config
  kubernetes/talos-maxi/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/talos-maxi

Added endpoints to Gatus
  kubernetes/talos-maxi/apps/observability/gatus/app/config/config.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added pre-pull github action
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Flux Image Test action tweak
  .github/workflows/flux-image-test.yaml
Labels: area/github

Changed the way TALOSCONFIG is retrieved
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Cleanup of actions
  .github/workflows/flux-image-test.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Added option to spegel
  kubernetes/talos-maxi/apps/kube-system/spegel/app/helm-values.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removed wrongly entered step in action
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Added renovate action
  .github/workflows/renovate.yaml
Labels: area/github

Removed Scene trash_id
  kubernetes/talos-maxi/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/talos-maxi

Descheduler cannot look at PodDisruptionBudget, looking if this fixes it
  kubernetes/talos-maxi/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Trying a cluster without control plane workers
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding a postRenderer that adds a missing ClusterRole rule to descheduler
  kubernetes/talos-maxi/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing cache snapshot storage class
  kubernetes/shared/templates/volsync/minio.yaml
  kubernetes/shared/templates/volsync/r2.yaml
Labels: area/kubernetes

Testing setting a TTL for minio S3 record
  kubernetes/talos-maxi/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fix fstrim scheduling
  kubernetes/talos-maxi/apps/kube-system/fstrim/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

NFD tweaks to run on control-plane nodes
  kubernetes/talos-maxi/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Deploying (yet another) external-dns setup
  kubernetes/talos-maxi/apps/network/external-dns/bind-opnsense/externalsecret.yaml
  kubernetes/talos-maxi/apps/network/external-dns/bind-opnsense/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/external-dns/bind-opnsense/kustomization.yaml
  kubernetes/talos-maxi/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Setting TTL on DNS records
  kubernetes/talos-maxi/apps/network/nginx/external/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/nginx/internal/helmrelease.yaml
  kubernetes/talos-maxi/apps/storage/minio/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Recyclarr tweaks
  kubernetes/talos-maxi/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/talos-maxi

Setting an allowedVersion for transmission
  .github/renovate/allowedVersions.json5
Labels: area/github

Descheduler enhancement
  kubernetes/talos-maxi/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding a self-signed cert for the cluster
  kubernetes/talos-maxi/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/cert-manager/cert-manager/issuers/ca.yaml
  kubernetes/talos-maxi/apps/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Testing prometheus admission with self-signed cert
  kubernetes/talos-maxi/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added tls spec to Cilium
  kubernetes/talos-maxi/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added containerd change for spegel
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Network systctl enhancements
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Renamed plex host domain
  kubernetes/talos-maxi/apps/observability/exporters/plex-exporter/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added music-assistant
  kubernetes/talos-maxi/apps/home-automation/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/music-assistant/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/music-assistant/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing to IP address instead of hostname for now
  kubernetes/talos-maxi/apps/observability/exporters/plex-exporter/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixed cert-manager dashboard link
  kubernetes/talos-maxi/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

On my way to switch to flux-operator
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network/apps/default/idrac-fan-control/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/flux-system/addons/ks.yaml
  kubernetes/network/apps/kube-system/metrics-server/ks.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/network/apps/kube-system/reloader/ks.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/apps/network/echo-server/ks.yaml
  kubernetes/network/apps/network/external-dns/ks.yaml
  kubernetes/network/apps/network/k8s-gateway/ks.yaml
  kubernetes/network/apps/network/nginx/ks.yaml
  kubernetes/network/apps/openebs-system/openebs/ks.yaml
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/network
