Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, cluster/talos-maxi, cluster/network

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
# Cluster
cluster/talos-maxi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos-maxi/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: kubernetes/network/**/*

Removing pod limit for descheduler
  kubernetes/talos-maxi/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Renamed GHA runners
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/pre-pull-images.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/app/podmonitor.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/runners/home-ops/kustomization.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set-controller/ks.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/kustomization.yaml
Labels: area/github, area/kubernetes, cluster/talos-maxi

Trying to re-create cluster-settings
  kubernetes/network/flux/cluster/ks.yaml
  kubernetes/network/flux/meta/components/cluster-vars/cluster-settings.yaml
  kubernetes/network/flux/meta/components/cluster-vars/kustomization.yaml
  kubernetes/network/flux/settings/cluster-settings.yaml
  kubernetes/network/flux/settings/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/settings/cluster-settings.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Flux Webhook tweaks
  kubernetes/network/apps/flux-system/flux-operator/instance/github/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/github/webhooks/secret.sops.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/webhook/externalsecret.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/webhook/ingress.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/webhook/kustomization.yaml
  kubernetes/network/apps/flux-system/flux-operator/instance/webhook/receiver.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/github/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/webhook/externalsecret.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/webhook/ingress.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/webhook/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/webhook/receiver.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Testing disabling CephFS on network cluster
  kubernetes/network/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Adding an objectbucketclaim for volsync
  kubernetes/talos-maxi/apps/storage/volsync/app/kustomization.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/objectbucketclaim.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding an objectbucketclaim for volsync
  kubernetes/talos-maxi/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/bucket.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added probes to zigbee2mqtt
  kubernetes/talos-maxi/apps/home-automation/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added tofu-controller et al
  .github/workflows/terraform-publish.yaml
  kubernetes/talos-maxi/apps/flux-system/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/app/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/ks.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/terraform/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/terraform/ocirepository.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/terraform/rgw-buckets.yaml
  terraform/rgw-buckets/backend.tf
  terraform/rgw-buckets/buckets.tf
  terraform/rgw-buckets/main.tf
  terraform/rgw-buckets/modules/create-secret/main.tf
  terraform/rgw-buckets/modules/create-secret/output.tf
  terraform/rgw-buckets/modules/create-secret/providers.tf
  terraform/rgw-buckets/modules/create-secret/variables.tf
  terraform/rgw-buckets/modules/rgw/main.tf
  terraform/rgw-buckets/modules/rgw/outputs.tf
  terraform/rgw-buckets/modules/rgw/variables.tf
  terraform/rgw-buckets/outputs.tf
  terraform/rgw-buckets/secrets.tf
  terraform/rgw-buckets/variables.tf
Labels: area/github, area/kubernetes, cluster/talos-maxi

Deleted obsolete ObjectStore stuff
  kubernetes/talos-maxi/apps/storage/volsync/app/bucket.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixed typo
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/ks.yaml
  kubernetes/talos-maxi/apps/flux-system/tofu-controller/terraform/rgw-buckets.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/tofu-controller.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added Dragonfly bucket
  terraform/rgw-buckets/buckets.tf
Labels: none

Fixed brocade SNMP IP
  kubernetes/talos-maxi/apps/observability/exporters/snmp-exporter/brocade/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Moving to official Dragonfly HelmRelease, also trying S3
  kubernetes/talos-maxi/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/talos-maxi/apps/database/dragonfly/app/rbac.yaml
  kubernetes/talos-maxi/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/talos-maxi/apps/database/dragonfly/cluster/externalsecret.yaml
  kubernetes/talos-maxi/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/dragonfly.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixing rgw bucket policy (I think)
  terraform/rgw-buckets/modules/rgw/main.tf
Labels: none

Testing with RGW S3 endpoint for PG vector
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Commented repo4 out for PG vector
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Bulk-merge-PRs fix
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

Removing duplicate dashboard
  kubernetes/talos-maxi/apps/observability/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing NAS_IP
  kubernetes/network/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/network/apps/storage/volsync/app/mutations/volsync-mover-nfs.yaml
  kubernetes/shared/meta/components/global-vars/cluster-secrets.sops.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/pvc.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster/pvc.yaml
  kubernetes/talos-maxi/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/paperless/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/music-assistant/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/beets/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/cross-seed-jeopardy/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/cross-seed/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/pinchflat/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/qbittorrent/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/qbittorrent/tools/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/radarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/readarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/sonarr/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/transmission/jeopardy/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/transmission/music/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/varroa/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/storage/minio/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/storage/volsync/app/mutations/volsync-mover-nfs.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Removed bin version
  .taskfiles/Workstation/Taskfile.yaml
Labels: area/taskfile

Updated NAS_IP
  kubernetes/shared/meta/components/global-vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

System upgrade controller tweaks
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/talos-g3-mini.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Disabling MQTT for birdnet
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added toleration for control plane nodes for Talos upgrade
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed DNS server for talos-network
  kubernetes/network/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/network

Jellyseerr fixes
  kubernetes/talos-maxi/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Testing a terraform diff github action
  .github/workflows/terraform-diff.yaml
Labels: area/github

Revert "Merge pull request #1285 from frantathefranta/renovate/maxi-ghcr.io-tphakala-birdnet-go-0.x"
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added privileged-movers to all namespaces
  kubernetes/shared/meta/components/namespace/namespace.yaml
Labels: area/kubernetes

Revert "Added privileged-movers to all namespaces"
  kubernetes/shared/meta/components/namespace/namespace.yaml
Labels: area/kubernetes

Added startup probe for cross-seed
  kubernetes/talos-maxi/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing pve-exporter
  kubernetes/talos-maxi/apps/observability/exporters/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/exporters/pve-exporter/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/observability/exporters/pve-exporter/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/exporters/pve-exporter/app/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/exporters/pve-exporter/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing the serviceMonitor for bar-assistant
  kubernetes/talos-maxi/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Reduced maxusage for birdnet
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixed coreDNS clusterIPv6
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Update flux instance renovate annotation
  kubernetes/network/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/helm-values.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Adding a toleration for cilium-operator
  kubernetes/talos-maxi/apps/kube-system/cilium/app/helm-values.yaml
Labels: area/kubernetes, cluster/talos-maxi

Testing if MQTT works better on birdnet now
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Formatting the YAML config file for birdnet
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi
