Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, cluster/talos-maxi, cluster/network

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
# Cluster
cluster/talos-maxi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos-maxi/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: kubernetes/network/**/*

Adding a flux healthcheck for rook-ceph-cluster
  kubernetes/talos-maxi/apps/rook-ceph-external/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Adding a flux healthcheck for rook-ceph-cluster"
  kubernetes/talos-maxi/apps/rook-ceph-external/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added flux healthchecks
  kubernetes/network/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/network/nginx/ks.yaml
  kubernetes/talos-maxi/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/talos-maxi/apps/database/emqx/ks.yaml
  kubernetes/talos-maxi/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/talos-maxi/apps/network/nginx/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Reapply "Adding a flux healthcheck for rook-ceph-cluster"
  kubernetes/network/apps/rook-ceph-external/rook-ceph/ks.yaml
  kubernetes/talos-maxi/apps/rook-ceph-external/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Adding a Dragonfly flux healthcheck
  kubernetes/talos-maxi/apps/database/dragonfly/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Formatting the YAML config file for birdnet"
  kubernetes/talos-maxi/apps/home-automation/birdnet/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Renovate keeps failing on this, let's see if this fixes it
  kubernetes/network/apps/rook-ceph-external/rook-ceph/ks.yaml
  kubernetes/talos-maxi/apps/rook-ceph-external/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Added PreferDualStack to Jellyseerr
  kubernetes/talos-maxi/apps/media/jellyseerr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing NFD from network cluster
  kubernetes/network/apps/kube-system/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/network/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Re-installing postgres-cluster
  kubernetes/talos-maxi/apps/database/crunchy-postgres/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Re-installing postgres-cluster"
  kubernetes/talos-maxi/apps/database/crunchy-postgres/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Lowering refreshInterval for external-secrets
  kubernetes/talos-maxi/apps/default/miniflux/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/default/tandoor/app/externalsecret.yaml
  kubernetes/talos-maxi/apps/observability/grafana/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Helm controller complains that CoreDNS IP is not in RFC 5952 canonical format. Looking to see if this fixes it.
  kubernetes/network/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/kubernetes, cluster/network

Added a secondary NTP server
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed to mise from direnv
  .envrc
  mise.toml
Labels: none

Misc clean-up
  .gitattributes
Labels: none

Moving fan control to talos-maxi cluster in preparation of network cluster deprecation
  kubernetes/network/apps/default/kustomization.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/actinium/externalsecret.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/actinium/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/actinium/kustomization.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/ks.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/protactinium/externalsecret.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/protactinium/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/protactinium/kustomization.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/thorium/externalsecret.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/thorium/helmrelease.yaml
  kubernetes/talos-maxi/apps/default/idrac-fan-control/thorium/kustomization.yaml
  kubernetes/talos-maxi/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Added to README
  docs/k8s/README.org
Labels: none

Testing changing reloader to OCI repo
  kubernetes/shared/meta/repos/helm/kustomization.yaml
  kubernetes/shared/meta/repos/helm/stakater.yaml
  kubernetes/talos-maxi/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/reloader/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/kube-system/reloader/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed external-secrets to be fed from OCI repo
  .github/workflows/flux-local.yaml
  kubernetes/shared/meta/repos/helm/external-secrets.yaml
  kubernetes/shared/meta/repos/helm/kustomization.yaml
  kubernetes/talos-maxi/apps/external-secrets/external-secrets/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/external-secrets/external-secrets/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/external-secrets/external-secrets/app/kustomization.yaml
  mise.toml
Labels: area/github, area/kubernetes, cluster/talos-maxi

Changed flux-instance/operator to be fed from OCI repo
  kubernetes/shared/meta/repos/helm/fluxcd-community.yaml
  kubernetes/shared/meta/repos/helm/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/helmrepository.yaml
  kubernetes/talos-maxi/apps/flux-system/flux-operator/instance/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed CoreDNS to be fed from OCI repo
  kubernetes/shared/meta/repos/helm/coredns.yaml
  kubernetes/shared/meta/repos/helm/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/kube-system/coredns/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed spegel to be fed from OCI repo
  kubernetes/shared/meta/repos/helm/spegel.yaml
  kubernetes/talos-maxi/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/spegel/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/kube-system/spegel/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed Grafana to be fed from OCI repo
  kubernetes/talos-maxi/apps/observability/grafana/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/grafana/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/observability/grafana/app/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/grafana.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed Prometheus to be fed from OCI repo
  kubernetes/shared/meta/repos/helm/kustomization.yaml
  kubernetes/shared/meta/repos/helm/prometheus-community.yaml
  kubernetes/talos-maxi/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/kube-prometheus-stack/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/observability/kube-prometheus-stack/app/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed SNMP exporters to be fed from OCI repo
  kubernetes/shared/meta/repos/oci/kustomization.yaml
  kubernetes/shared/meta/repos/oci/snmp-exporter.yaml
  kubernetes/talos-maxi/apps/observability/exporters/snmp-exporter/arista/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/exporters/snmp-exporter/brocade/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/exporters/snmp-exporter/idrac/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changed crunchy postgres operator to be fed from OCI repo
  kubernetes/talos-maxi/apps/database/crunchy-postgres/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/database/crunchy-postgres/app/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/crunchy-userinit.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/crunchydata.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing Dragonfly to be fed from OCI repo
  kubernetes/talos-maxi/apps/database/dragonfly/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/database/dragonfly/app/helmrepository.yaml
  kubernetes/talos-maxi/apps/database/dragonfly/app/kustomization.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/dragonfly.yaml
  kubernetes/talos-maxi/flux/meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adjusted varroa filters
  kubernetes/talos-maxi/apps/media/varroa/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos-maxi

Bumped flux-local version
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Added comment to dragonfly repo
  kubernetes/talos-maxi/apps/database/dragonfly/app/helmrepository.yaml
Labels: area/kubernetes, cluster/talos-maxi

Bumped flux-local in the other workflow as well
  .github/workflows/flux-local.yaml
Labels: area/github

Fixed workflows, added components for PVC and gatus creation
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
  .github/workflows/pre-pull-images.yaml
  kubernetes/apps/default/lubelog/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/default/tandoor/ks.yaml
  kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/apps/home-automation/birdnet/ks.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/home-automation/zwave-js-ui/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/beets/ks.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
  kubernetes/apps/media/plex-addons/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/media/varroa/ks.yaml
  kubernetes/apps/media/wizarr/ks.yaml
  kubernetes/components/common/alerts/kustomization.yaml
  kubernetes/components/common/global-vars/kustomization.yaml
  kubernetes/components/common/sops/kustomization.yaml
Labels: area/github, area/kubernetes

Removed kubeconfig for network cluster
  mise.toml
Labels: none

Misc fixes
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/observability/exporters/snmp-exporter/arista/helmrelease.yaml
  kubernetes/apps/observability/exporters/snmp-exporter/brocade/helmrelease.yaml
  kubernetes/apps/observability/exporters/snmp-exporter/idrac/helmrelease.yaml
  kubernetes/apps/observability/loki/app/helmrepository.yaml
  kubernetes/apps/observability/loki/app/kustomization.yaml
  kubernetes/apps/storage/minio/ks.yaml
  kubernetes/apps/storage/snapshot-controller/ks.yaml
  kubernetes/apps/storage/volsync/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/flux/meta/repositories/helm/grafana.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community.yaml
  kubernetes/network/apps/default/syncthing/ks.yaml
  kubernetes/network/apps/external-secrets/external-secrets/ks.yaml
  kubernetes/network/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/network/apps/network/cloudflared/ks.yaml
  kubernetes/network/apps/network/echo-server/ks.yaml
  kubernetes/network/apps/network/external-dns/ks.yaml
  kubernetes/network/apps/network/k8s-gateway/ks.yaml
  kubernetes/network/apps/network/nginx/ks.yaml
  kubernetes/network/apps/openebs-system/openebs/ks.yaml
  kubernetes/talos-maxi/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/talos-maxi/apps/storage/volsync/ks.yaml
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/ks.yaml
  mise.toml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Updated ARC setup
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/home-ops/rbac.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Manually bumping renovate action version to see if it fixes auto-merge
  .github/workflows/renovate.yaml
Labels: area/github

Changed image repo for rook-ceph
  kubernetes/apps/rook-ceph-external/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph-external/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Enhanced liveness and readiness probes for birdnet
  kubernetes/apps/home-automation/birdnet/app/helmrelease.yaml
Labels: area/kubernetes
