Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/github, area/kubernetes, area/taskfile, cluster/talos-maxi, cluster/network

.github/labeler.yaml:

---
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: .taskfiles/**/*
      - any-glob-to-any-file: Taskfile*
# Cluster
cluster/talos-maxi:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos-maxi/**/*
cluster/network:
  - changed-files:
      - any-glob-to-any-file: kubernetes/network/**/*

Testing salt-rim as part of bar-assistant HR
  kubernetes/talos-maxi/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Testing salt-rim as part of bar-assistant HR"
  kubernetes/talos-maxi/apps/default/bar-assistant/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Testing cross-seed-jeopardy with read-only mount
  kubernetes/talos-maxi/apps/media/cross-seed-jeopardy/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Letting meilisearch version be handled by HR again
  kubernetes/talos-maxi/apps/default/bar-assistant/meilisearch/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "feat(helm)!: Update chart snapshot-controller ( 3.0.6 → 4.0.0 )"
  kubernetes/talos-maxi/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added new node to talos-maxi cluster
  kubernetes/talos-maxi/bootstrap/talos/apps/kubelet-csr-approver-values.yaml
  kubernetes/talos-maxi/bootstrap/talos/clusterconfig/.gitignore
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Fixing csr approver setup
  kubernetes/network/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/network/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/network/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/network/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/talos-maxi/apps/kube-system/kubelet-csr-approver/app/helm-values.yaml
  kubernetes/talos-maxi/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Added zwave-js-ui deployment
  kubernetes/talos-maxi/apps/home-automation/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/app/networkpolicy.yaml
  kubernetes/talos-maxi/apps/home-automation/zwave-js-ui/ks.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
  kubernetes/talos-maxi/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removed reference to old node-exporter
  kubernetes/talos-maxi/apps/observability/kube-prometheus-stack/app/scrapeconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removed all references to frigate
  .github/renovate.json5
  kubernetes/talos-maxi/apps/default/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/exporters/frigate-exporter/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/observability/exporters/frigate-exporter/app/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/exporters/frigate-exporter/ks.yaml
  kubernetes/talos-maxi/apps/observability/exporters/kustomization.yaml
  kubernetes/talos-maxi/apps/observability/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/talos-maxi

Added multus config
  kubernetes/talos-maxi/apps/network/kustomization.yaml
  kubernetes/talos-maxi/apps/network/multus/app/crd.yaml
  kubernetes/talos-maxi/apps/network/multus/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/network/multus/app/kustomization.yaml
  kubernetes/talos-maxi/apps/network/multus/app/rbac.yaml
  kubernetes/talos-maxi/apps/network/multus/config/kustomization.yaml
  kubernetes/talos-maxi/apps/network/multus/config/net-attach-iot.yaml
  kubernetes/talos-maxi/apps/network/multus/ks.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added NFD rule for Coral devices
  kubernetes/talos-maxi/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/talos-maxi/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/node-feature-discovery/rules/nodefeaturerule.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added NFD rule for Intel GPUs
  kubernetes/talos-maxi/apps/kube-system/node-feature-discovery/rules/nodefeaturerule.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added generic device plugin and intel-device-plugin
  kubernetes/talos-maxi/apps/kube-system/generic-device-plugin/app/config/config.yaml
  kubernetes/talos-maxi/apps/kube-system/generic-device-plugin/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/generic-device-plugin/app/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/generic-device-plugin/ks.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/ks.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/talos-maxi/apps/kube-system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/talos-maxi/apps/kube-system/kustomization.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added scrypted config
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/scrypted/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added scrypted config
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/talos-maxi/apps/home-automation/scrypted/ks.yaml
  kubernetes/talos-maxi/apps/network/multus/config/net-attach-iot.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Merge pull request #855 from frantathefranta/renovate/maxi-actions-runner-controller"
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding GHA controller replicas
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Adding GHA controller replicas"
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Reapply "Merge pull request #855 from frantathefranta/renovate/maxi-actions-runner-controller"
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Trying re-installing GHA runners
  kubernetes/talos-maxi/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Trying re-installing GHA runners"
  kubernetes/talos-maxi/apps/actions-runner-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos-maxi

Adding replicas for scale-set-controller, also dependency for the runner-set
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set-controller/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/actions-runner-system/gha-runner-scale-set/ks.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Merge pull request #850 from frantathefranta/renovate/maxi-ghcr.io-cross-seed-cross-seed-6.x"
  kubernetes/talos-maxi/apps/media/cross-seed-jeopardy/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Cross-Seed-Jeopardy tweaks
  kubernetes/talos-maxi/apps/media/cross-seed-jeopardy/app/configs/config.js
  kubernetes/talos-maxi/apps/media/cross-seed-jeopardy/app/helmrelease.yaml
  kubernetes/talos-maxi/apps/media/cross-seed-jeopardy/app/kustomization.yaml
  kubernetes/talos-maxi/apps/media/cross-seed/app/configs/config.js
  kubernetes/talos-maxi/apps/media/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added multus-wireless network
  kubernetes/talos-maxi/apps/network/multus/config/kustomization.yaml
  kubernetes/talos-maxi/apps/network/multus/config/net-attach-wireless.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing scrypted to have interface in the wireless network
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Addding an IoT interface back to scrypted
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Removing IoT interface again
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Re-adding IoT interface
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing scrypted secondary interface to wireless
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Changing scrypted secondary interface to wireless
  kubernetes/talos-maxi/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi

Excluded zone from system-upgrade
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
Labels: area/kubernetes, cluster/network

Updated changes
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Updated changes
  kubernetes/network/apps/system-upgrade/system-upgrade-controller/plans/talos.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi, cluster/network

Revert "Merge pull request #834 from frantathefranta/renovate/maxi-ghcr.io-siderolabs-kubelet-1.x"
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Revert "Merge pull request #866 from frantathefranta/renovate/maxi-talos"
  kubernetes/talos-maxi/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/talos-maxi/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos-maxi

Added BIND external-dns for talos-network
  kubernetes/network/apps/network/external-dns/internal/helmrelease.yaml
  kubernetes/network/apps/network/external-dns/ks.yaml
Labels: area/kubernetes, cluster/network

Testing Ceph storage class on PG vector cluster
  kubernetes/talos-maxi/apps/database/crunchy-postgres/cluster-vector/cluster.yaml
Labels: area/kubernetes, cluster/talos-maxi

Testing tolerations
  kubernetes/talos-maxi/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos-maxi
