Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"

Set ClusterIPs for CoreDNS
  kubernetes/apps/kube-system/coredns/app/helm-values.yaml
Labels: area/kubernetes

Added 2 etcd dashboards
  kubernetes/apps/observability/grafana/dashboards/grafanadashboard.yaml
Labels: area/kubernetes

Raised tqm memory limit
  kubernetes/apps/media/tqm/app/helmrelease.yaml
Labels: area/kubernetes

Added cpu limit for beets-backup
  kubernetes/apps/media/beets/backup/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart intel-device-plugins-gpu ( 0.35.0 → 0.36.0 ) (#3372)"
  kubernetes/apps/kube-system/intel-device-plugins/gpu/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart intel-device-plugins-operator ( 0.35.0 → 0.36.0 ) (#3373)"
  kubernetes/apps/kube-system/intel-device-plugins/operator/helmrelease.yaml
Labels: area/kubernetes

Adding tools to shell.nix
  shell.nix
Labels: none

Move descheduler to OCIRepo, other tweaks
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/app/ocirepository.yaml
Labels: area/kubernetes

Changed plex-exporter endpoint
  kubernetes/apps/observability/exporters/plex-exporter/app/helmrelease.yaml
Labels: area/kubernetes

Added justfile(s)
  bootstrap/mod.just
  justfile
  kubernetes/mod.just
  shell.nix
  talos/machineconfig.yaml.j2
  talos/mod.just
  talos/nodes/talos-actinium.yaml.j2
  talos/nodes/talos-g3-mini.yaml.j2
  talos/nodes/talos-n150-01.yaml.j2
  talos/nodes/talos-protactinium.yaml.j2
  talos/nodes/talos-thorium.yaml.j2
  talos/schematic.yaml.j2
Labels: area/bootstrap, area/kubernetes, area/talos

Fixed just template
  justfile
Labels: none

Added talosFactory renovate
  .renovate/talosFactory.json5
  renovate.json5
Labels: area/renovate

Direnv loads secrets now
  .envrc
Labels: none

Increase retention in Prometheus
  kubernetes/apps/observability/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Added cameras to ICMP probe
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

Added Talos fix for big RAM nodes
  talos/machineconfig.yaml.j2
Labels: area/talos

Added remaining Proxmox nodes
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/kubernetes

Deleted auto TODO action
  .github/workflows/todos.yaml
  kubernetes/apps/observability/blackbox-exporter/app/probes.yaml
Labels: area/github, area/kubernetes

Raising logLevel on forgejo
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes

Enable DualStack on the ssh service
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes

Allow SSH from all namespaces
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
Labels: area/kubernetes

Enable mailer on forgejo
  kubernetes/apps/default/forgejo/app/helmrelease.yaml
Labels: area/kubernetes

Changing thresholds in descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

Set tqm to not trigger on the hour
  kubernetes/apps/media/tqm/app/helmrelease.yaml
Labels: area/kubernetes

Delete pod from descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/kubernetes

Temporarily scaling down non-essential services
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/home-automation/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

Revert "Temporarily scaling down non-essential services"
  .archive/varroa/app/externalsecret.yaml
  .archive/varroa/app/helmrelease.yaml
  .archive/varroa/app/kustomization.yaml
  .archive/varroa/app/networkpolicy.yaml
  .archive/varroa/ks.yaml
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Re-enabling services
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

Re-enable bazarr
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Fixing bazarr permissions
  kubernetes/apps/media/bazarr/app/helmrelease.yaml
  kubernetes/apps/media/bazarr/ks.yaml
Labels: area/kubernetes

Repo clean-up
  kubernetes/apps/network/echo-server/app/helmrelease.yaml
  kubernetes/apps/network/echo-server/app/kustomization.yaml
  kubernetes/apps/network/echo-server/ks.yaml
  kubernetes/apps/network/external-dns/bind/externalsecret.yaml
  kubernetes/apps/network/external-dns/bind/helmrelease.yaml
  kubernetes/apps/network/external-dns/bind/kustomization.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

Revert "Re-enable bazarr"
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Revert "Re-enabling services"
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes

Removing qB probe for now
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Also remove tqm
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Revert "Removing qB probe for now"
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/media/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

Reapply "Re-enable bazarr"
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Seeing if searchCadence actually works
  kubernetes/apps/media/cross-seed/app/externalsecret.yaml
Labels: area/kubernetes

Fixed bazarr PGID
  kubernetes/apps/media/bazarr/ks.yaml
Labels: area/kubernetes

Re-enable Loki
  kubernetes/apps/observability/kustomization.yaml
Labels: area/kubernetes
