Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

Trying with a secondary PVC
  kubernetes/apps/media/cross-seed/ks.yaml
Labels: area/kubernetes

Cross-seed migration
  kubernetes/apps/media/cross-seed/ks.yaml
Labels: area/kubernetes

Migrate everything
  kubernetes/apps/default/bar-assistant/ks.yaml
  kubernetes/apps/default/forgejo/ks.yaml
  kubernetes/apps/default/lubelog/ks.yaml
  kubernetes/apps/default/oxidized/ks.yaml
  kubernetes/apps/default/paperless/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/default/tandoor/ks.yaml
  kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/apps/home-automation/birdnet/ks.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/home-automation/zwave-js-ui/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed-jeopardy/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
  kubernetes/apps/media/plex-addons/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/media/wrtag/ks.yaml
  kubernetes/apps/observability/grafana/ks.yaml
  kubernetes/components/kopiur/snapshotpolicy.yaml
Labels: area/kubernetes

Fixed zwave-js-ui secret
  kubernetes/apps/home-automation/zwave-js-ui/app/externalsecret.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/kustomization.yaml
Labels: area/kubernetes

Fixed paperless
  kubernetes/apps/default/paperless/ks.yaml
Labels: area/kubernetes

Fixed zwave secret
  kubernetes/apps/home-automation/zwave-js-ui/app/externalsecret.yaml
Labels: area/kubernetes

Fixed grafana
  kubernetes/apps/observability/grafana/ks.yaml
Labels: area/kubernetes

Fixed bar-assistant
  kubernetes/apps/default/bar-assistant/ks.yaml
Labels: area/kubernetes

Fixed paperless again
  kubernetes/apps/default/paperless/ks.yaml
Labels: area/kubernetes

Migrate remaining apps
  kubernetes/apps/default/lubelog/ks.yaml
  kubernetes/apps/default/oxidized/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/default/tandoor/ks.yaml
  kubernetes/apps/default/vikunja/ks.yaml
  kubernetes/apps/home-automation/birdnet/ks.yaml
  kubernetes/apps/home-automation/music-assistant/ks.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/home-automation/zigbee2mqtt/ks.yaml
  kubernetes/apps/home-automation/zwave-js-ui/ks.yaml
  kubernetes/apps/media/bazarr/ks.yaml
  kubernetes/apps/media/cross-seed-jeopardy/ks.yaml
  kubernetes/apps/media/jellyseerr/ks.yaml
  kubernetes/apps/media/maintainerr/ks.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
  kubernetes/apps/media/plex-addons/ks.yaml
  kubernetes/apps/media/qbittorrent/ks.yaml
  kubernetes/apps/media/recyclarr/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
  kubernetes/apps/media/transmission/ks.yaml
  kubernetes/apps/media/wrtag/ks.yaml
Labels: area/kubernetes

Grafana can be migrated
  kubernetes/apps/observability/grafana/ks.yaml
Labels: area/kubernetes

Paperless migrated
  kubernetes/apps/default/paperless/ks.yaml
Labels: area/kubernetes

Setting forgejo snapshotPolicy to Direct
  kubernetes/apps/default/forgejo/ks.yaml
  kubernetes/components/kopiur/snapshotpolicy.yaml
Labels: area/kubernetes

Remove kometa
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes

Let's try again
  kubernetes/apps/default/forgejo/ks.yaml
Labels: area/kubernetes

Migrate forgejo to kopiur fully
  kubernetes/apps/default/forgejo/ks.yaml
Labels: area/kubernetes

Migrate forgejo to kopiur fully
  kubernetes/apps/default/forgejo/ks.yaml
Labels: area/kubernetes

Clean-up bar-assistatn
  kubernetes/apps/default/bar-assistant/ks.yaml
Labels: area/kubernetes

Cluster Repository tweaks
  kubernetes/apps/storage/kopiur/repository/clusterrepository.yaml
Labels: area/kubernetes

Disable bar-assistant for a minute
  kubernetes/apps/default/bar-assistant/ks.yaml
Labels: area/kubernetes

Migrate bar-assistant to kopiur
  kubernetes/apps/default/bar-assistant/ks.yaml
Labels: area/kubernetes

Remove volsync
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/syncthing/ks.yaml
  kubernetes/apps/home-automation/birdnet/ks.yaml
  kubernetes/apps/media/cross-seed-jeopardy/ks.yaml
  kubernetes/apps/media/cross-seed/ks.yaml
  kubernetes/apps/media/pinchflat/ks.yaml
  kubernetes/apps/media/tautulli/ks.yaml
Labels: area/kubernetes

Added kopiur healthchecks for tuppr
  kubernetes/apps/system-upgrade/tuppr/upgrades/kubernetesupgrade.yaml
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes

Added verification to snapshotpolicy
  kubernetes/components/kopiur/snapshotpolicy.yaml
Labels: area/kubernetes

Update Talos upgrade datasource in YAML file
  kubernetes/apps/system-upgrade/tuppr/upgrades/talosupgrade.yaml
Labels: area/kubernetes

Added siderolabs mcp
  .mcp.json
Labels: none

Talos overhaul
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/machineconfig.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/talos-actinium.yaml.j2
  talos/nodes/talos-g3-mini.yaml.j2
  talos/nodes/talos-n150-01.yaml.j2
  talos/nodes/talos-protactinium.yaml.j2
  talos/nodes/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
  talos/talconfig.yaml
  talos/watchdog.yaml
  talos/workers.yaml.j2
Labels: area/talos

Additional changes
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
Labels: area/talos

Misc changes, probably won't work
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
Labels: area/talos

migrate HelmRepository resources to OCIRepository
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/ocirepository.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/ocirepository.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/kustomization.yaml
  kubernetes/apps/network/external-dns/powerdns/ocirepository.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/app/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/app/helmrepository.yaml
  kubernetes/apps/storage/democratic-csi/app/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/app/ocirepository.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/app/ocirepository.yaml
  kubernetes/flux/meta/repositories/helm/cilium.yaml
  kubernetes/flux/meta/repositories/helm/descheduler.yaml
  kubernetes/flux/meta/repositories/helm/external-dns.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/metrics-server.yaml
  kubernetes/flux/meta/repositories/helm/openebs.yaml
  kubernetes/flux/meta/repositories/helm/piraeus.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community.yaml
Labels: area/kubernetes

Fixed cilium repo
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
Labels: area/kubernetes

migrate HelmRepository resources to OCIRepository (#3868)
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/app/ocirepository.yaml
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/external/kustomization.yaml
  kubernetes/apps/network/external-dns/external/ocirepository.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/kustomization.yaml
  kubernetes/apps/network/external-dns/powerdns/ocirepository.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/helmrelease.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/kustomization.yaml
  kubernetes/apps/observability/prometheus-operator-crds/app/ocirepository.yaml
  kubernetes/apps/openebs-system/openebs/app/helmrelease.yaml
  kubernetes/apps/openebs-system/openebs/app/kustomization.yaml
  kubernetes/apps/openebs-system/openebs/app/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/app/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/app/helmrepository.yaml
  kubernetes/apps/storage/democratic-csi/app/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/app/ocirepository.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/storage/snapshot-controller/app/ocirepository.yaml
  kubernetes/flux/meta/repositories/helm/cilium.yaml
  kubernetes/flux/meta/repositories/helm/descheduler.yaml
  kubernetes/flux/meta/repositories/helm/external-dns.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/metrics-server.yaml
  kubernetes/flux/meta/repositories/helm/openebs.yaml
  kubernetes/flux/meta/repositories/helm/piraeus.yaml
  kubernetes/flux/meta/repositories/helm/prometheus-community.yaml
Labels: area/kubernetes

Replace flux-local with flate in image-pull workflow
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

Removed bulk-merge-prs.yaml
  .github/workflows/bulk-merge-prs.yaml
Labels: area/github

Explicitly fetch full history in image-pull extract job
  .github/workflows/image-pull.yaml
Labels: area/github

Refactor/image pull flate (#3869)
  .github/workflows/bulk-merge-prs.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/image-pull.yaml
Labels: area/github

Added add-app skill
  .agents/skills/add-app/SKILL.md
Labels: none

Pin flate version in image-pull extract job
  .github/workflows/image-pull.yaml
Labels: area/github

Removed mise.toml
  mise.toml
Labels: none

Add konflate
  kubernetes/apps/flux-system/konflate/app/externalsecret.yaml
  kubernetes/apps/flux-system/konflate/app/helmrelease.yaml
  kubernetes/apps/flux-system/konflate/app/kustomization.yaml
  kubernetes/apps/flux-system/konflate/app/ocirepository.yaml
  kubernetes/apps/flux-system/konflate/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
