Repository frantathefranta/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/talos, area/terraform, area/taskfile, area/renovate

Missed a step in external-dns migration
  kubernetes/apps/kube-system/cilium/config/gateway-external.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/gateway/https-redirect.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
Labels: area/kubernetes

Reapply "Drop the annotationPrefix"
  kubernetes/apps/network/external-dns/external/helmrelease.yaml
  kubernetes/apps/network/external-dns/powerdns/helmrelease.yaml
Labels: area/kubernetes

Remove all external-dns.alpha.kubernetes.io annotations
  kubernetes/apps/kube-system/cilium/config/gateway-external.yaml
  kubernetes/apps/kube-system/cilium/config/gateway-internal.yaml
  kubernetes/apps/network/envoy-gateway/gateway/external.yaml
  kubernetes/apps/network/envoy-gateway/gateway/https-redirect.yaml
  kubernetes/apps/network/envoy-gateway/gateway/internal.yaml
Labels: area/kubernetes

Remove remaining external-dns.alpha.kubernetes.io/hostname annotations
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/home-automation/mosquitto/app/helmrelease.yaml
  kubernetes/apps/home-automation/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

Added talos skill
  .agents/skills/talos/SKILL.md
Labels: none

Talos overhaul
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/machineconfig.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/talos-actinium.yaml.j2
  talos/nodes/talos-g3-mini.yaml.j2
  talos/nodes/talos-n150-01.yaml.j2
  talos/nodes/talos-protactinium.yaml.j2
  talos/nodes/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
  talos/talconfig.yaml
  talos/watchdog.yaml
  talos/workers.yaml.j2
Labels: area/talos

Additional changes
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
Labels: area/talos

Misc changes, probably won't work
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
Labels: area/talos

More changes based on onedr0p
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
Labels: area/talos

Source V6 CIDRs from 1Password and move to k8s 1.37.0
  talos/README.md
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
Labels: area/talos

Park miroir migration notes (OpenEBS replacement)
  docs/miroir-migration.md
Labels: none

Fix verification workflow: machineconfig diff does not exist in 1.14
  talos/README.md
Labels: area/talos

Cut doesn sysctl, updated talos version
  talos/cluster.yaml.j2
Labels: area/talos

More talos tweaks to deal with secrets
  talos/README.md
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
Labels: area/talos

fix(recyclarr)!: migrate config to v8 for 7.5.2 → 8.7.2 bump
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix(recyclarr): refresh stale TRaSH Guides CF ids
  kubernetes/apps/media/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

Update forgejo-runner config
  kubernetes/apps/default/forgejo/runner/helmrelease.yaml
Labels: area/kubernetes

Talos overhaul
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/machineconfig.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/talos-actinium.yaml.j2
  talos/nodes/talos-g3-mini.yaml.j2
  talos/nodes/talos-n150-01.yaml.j2
  talos/nodes/talos-protactinium.yaml.j2
  talos/nodes/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
  talos/talconfig.yaml
  talos/watchdog.yaml
  talos/workers.yaml.j2
Labels: area/talos

Additional changes
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
Labels: area/talos

Misc changes, probably won't work
  justfile
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
Labels: area/talos

More changes based on onedr0p
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
Labels: area/talos

Source V6 CIDRs from 1Password and move to k8s 1.37.0
  talos/README.md
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
Labels: area/talos

Park miroir migration notes (OpenEBS replacement)
  docs/miroir-migration.md
Labels: none

Fix verification workflow: machineconfig diff does not exist in 1.14
  talos/README.md
Labels: area/talos

Cut doesn sysctl, updated talos version
  talos/cluster.yaml.j2
Labels: area/talos

More talos tweaks to deal with secrets
  talos/README.md
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/mod.just
Labels: area/talos

Updated kubelet version
  talos/cluster.yaml.j2
Labels: area/talos

Updated kubelet version
  talos/controlplane.yaml.j2
Labels: area/talos

Fixes for talos renders
  talos/controlplane.yaml.j2
Labels: area/talos

Talos overhaul (#3861)
  docs/miroir-migration.md
  justfile
  talos/README.md
  talos/cluster.yaml.j2
  talos/controlplane.yaml.j2
  talos/machineconfig.yaml.j2
  talos/mod.just
  talos/nodes/controlplane/talos-actinium.yaml.j2
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/controlplane/talos-thorium.yaml.j2
  talos/nodes/talos-g3-mini.yaml.j2
  talos/nodes/talos-n150-01.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
  talos/schematic.yaml.j2
  talos/talconfig.yaml
  talos/watchdog.yaml
  talos/workers.yaml.j2
Labels: area/talos

Added talos-n150-01 specific sysctls
  talos/nodes/workers/talos-n150-01.yaml.j2
Labels: area/talos

Re-enable sbr on multus
  kubernetes/apps/network/multus/config/net-attach-wireless.yaml
Labels: area/kubernetes

Talos config changes
  talos/nodes/controlplane/talos-protactinium.yaml.j2
  talos/nodes/workers/talos-g3-mini.yaml.j2
  talos/nodes/workers/talos-n150-01.yaml.j2
Labels: area/talos

Migrate Intel GPU workloads to resource driver
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/app/resourceclaimtemplate.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugins/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/intel.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  talos/cluster.yaml.j2
Labels: area/kubernetes, area/talos

Use native pod resource claims for Scrypted
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
Labels: area/kubernetes

Feat/intel gpu resource driver (#3979)
  kubernetes/apps/home-automation/scrypted/app/helmrelease.yaml
  kubernetes/apps/home-automation/scrypted/app/kustomization.yaml
  kubernetes/apps/home-automation/scrypted/app/resourceclaimtemplate.yaml
  kubernetes/apps/home-automation/scrypted/ks.yaml
  kubernetes/apps/kube-system/intel-device-plugins/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugins/operator/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugins/operator/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/app/ocirepository.yaml
  kubernetes/apps/kube-system/intel-gpu-resource-driver/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/flux/meta/repositories/helm/intel.yaml
  kubernetes/flux/meta/repositories/helm/kustomization.yaml
  talos/cluster.yaml.j2
Labels: area/kubernetes, area/talos

Switch Multus to home-operations chart 0.1.0
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/network/multus/app/ocirepository.yaml
Labels: area/kubernetes

Switch Multus to home-operations chart 0.1.0 (#3980)
  kubernetes/apps/network/multus/app/helmrelease.yaml
  kubernetes/apps/network/multus/app/ocirepository.yaml
Labels: area/kubernetes

Removed serviceaccount
  kubernetes/apps/network/multus/app/helmrelease.yaml
Labels: area/kubernetes

Prepare Multus CRD for safe handoff
  kubernetes/apps/network/multus/app/crds.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
      - any-glob-to-any-file: "Taskfile*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
